Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

chore: beads config (#110)
  .beads/config.yaml
  .beads/issues.jsonl
Due: none

feat(dual-writer): auto-migrate TSV data to SQLite on init
  internal/storage/dualwriter.go
  internal/storage/dualwriter_integration_test.go
  internal/storage/dualwriter_test.go
  internal/storage/sqlite/storage.go
Due: gofmt-vet

feat(search): add transparent name-based search for tmux sessions, windows, and panes
  cmd/tmux-intray/list.go
  internal/search/provider.go
  internal/search/regex.go
  internal/search/search_test.go
  internal/search/substring.go
  internal/search/token.go
  internal/tmux/client.go
  internal/tmux/mock.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(search): add transparent name-based search for tmux sessions, wi… (#112)
  cmd/tmux-intray/list.go
  internal/search/provider.go
  internal/search/regex.go
  internal/search/search_test.go
  internal/search/substring.go
  internal/search/token.go
  internal/tmux/client.go
  internal/tmux/mock.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix: restore SQLite opt-in auto migration guard (tmux-intray-v36g) (#109)
  .github/ISSUE_TEMPLATE/sqlite-opt-in-feedback.yml
  README.md
  RELEASE_NOTES.md
  docs/configuration.md
  docs/storage-migration.md
  docs/troubleshooting.md
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/storage/factory.go
  internal/storage/factory_test.go
Due: gofmt-vet

feat(dual-writer): auto-migrate TSV data to SQLite on init (#111)
  internal/storage/dualwriter.go
  internal/storage/dualwriter_integration_test.go
  internal/storage/dualwriter_test.go
  internal/storage/sqlite/storage.go
Due: gofmt-vet

docs(rollout): publish sqlite opt-in rollout guidance and safeguards (#108)
  go.sum
Due: none

refactor: export storage helpers and fix initialization safety
  internal/core/core.go
  internal/core/jump.go
  internal/core/tmux.go
  internal/storage/storage.go
  internal/tui/state/model.go
  internal/tui/state/tree.go
Due: gofmt-vet

feat(cli): add CLI commands and flags for read status operations
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/follow_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/mark-read.go
  cmd/tmux-intray/mark-read_test.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  internal/core/core.go
  internal/storage/bounds_test.go
  internal/storage/dualwriter.go
  internal/storage/dualwriter_integration_test.go
  internal/storage/dualwriter_test.go
  internal/storage/factory.go
  internal/storage/factory_test.go
  internal/storage/file_storage.go
  internal/storage/integration_test.go
  internal/storage/interface.go
  internal/storage/sqlite/migration_test.go
  internal/storage/sqlite/queries.sql
  internal/storage/sqlite/sqlcgen/queries.sql.go
  internal/storage/sqlite/storage.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
  internal/tui/state/model.go
Due: gofmt-vet

feat: multiple improvements including storage interfaces, search abstraction, and performance optimizations (#114)
  internal/core/core.go
  internal/core/jump.go
  internal/core/tmux.go
  internal/storage/storage.go
  internal/tui/state/model.go
  internal/tui/state/tree.go
Due: gofmt-vet

feat: enhance group rendering with unread counts
  internal/settings/manager.go
  internal/settings/settings.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/group_counts_update_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
  internal/tui/state/tree.go
  internal/tui/state/tree_test.go
Due: gofmt-vet

test: fix ListNotifications signature issue in test mocks
  internal/storage/sqlite/storage_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat: enhance group rendering with unread counts (#116)
  internal/settings/manager.go
  internal/settings/settings.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/group_counts_update_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
  internal/tui/state/tree.go
  internal/tui/state/tree_test.go
Due: gofmt-vet

feat(cli): adds commands and flags for read status operations (#115)
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/follow_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/mark-read.go
  cmd/tmux-intray/mark-read_test.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  internal/core/core.go
  internal/storage/bounds_test.go
  internal/storage/dualwriter.go
  internal/storage/dualwriter_integration_test.go
  internal/storage/dualwriter_test.go
  internal/storage/factory.go
  internal/storage/factory_test.go
  internal/storage/file_storage.go
  internal/storage/integration_test.go
  internal/storage/interface.go
  internal/storage/sqlite/migration_test.go
  internal/storage/sqlite/queries.sql
  internal/storage/sqlite/sqlcgen/queries.sql.go
  internal/storage/sqlite/storage.go
  internal/storage/sqlite/storage_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

docs: revise WIP warning in README
  README.md
Due: none

docs: revise WIP warning in README (#117)
  README.md
Due: none

feat(tui): add cursor preservation for notification actions
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor: improve API clarity by separating cursor management from filter functions
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(tui): preserve cursor position after notification actions (#119)
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

chore: update beads
  .beads/issues.jsonl
Due: none

fix(tui): prevent TUI from closing on Enter in search mode
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

chore(ci): remove ubuntu-22.04 in favor of ubuntu-latest
  .github/workflows/ci.yml
Due: none

chore(ci): remove ubuntu-22.04 in favor of ubuntu-latest (#122)
  .beads/issues.jsonl
  .github/workflows/ci.yml
Due: none

fix(tui): prevent TUI from closing on Enter in search mode (#120)
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(tui): add interface contracts for TUI model components
  internal/tui/model/command_service.go
  internal/tui/model/repository.go
  internal/tui/model/runtime_coordinator.go
  internal/tui/model/tree_service.go
  internal/tui/model/ui_state.go
Due: gofmt-vet

feat(tui): add interface contracts for TUI model components (#123)
  internal/tui/model/command_service.go
  internal/tui/model/repository.go
  internal/tui/model/runtime_coordinator.go
  internal/tui/model/tree_service.go
  internal/tui/model/ui_state.go
Due: gofmt-vet

docs: update tui-guidelines.md with refined architecture and interface contracts
  docs/design/tui/tui-guidelines.md
Due: none

Extract UI state management for tmux-intray TUI
  fix_tests.sh
  fix_tests2.sh
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_integration_test.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
  internal/tui/state/ui_state_test.go
Due: shfmt-check, gofmt-vet

chore: remove temporary test scripts
  fix_tests.sh
  fix_tests2.sh
Due: shfmt-check

docs: update tui-guidelines.md with refined architecture and interface contracts (#125)
  docs/design/tui/tui-guidelines.md
Due: none

Add integration test for updateTmuxStatusOption with real tmux server
  internal/storage/tmux_status_test.go
Due: gofmt-vet

test: Restore and adapt model tests for UIState structure
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_integration_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

test: Restore model_integration_test.go
  internal/tui/state/model_integration_test.go
Due: gofmt-vet

Restore deleted model tests after UI state extraction (#127)
  docs/design/tui/tui-guidelines.md
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_integration_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

Extract UI state management for tmux-intray TUI (#124)
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_integration_test.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
  internal/tui/state/ui_state_test.go
Due: gofmt-vet

test: verify storage package integration tests with TmuxClient (#126)
  internal/storage/tmux_status_test.go
Due: gofmt-vet

fix(tui): complete UIState interface implementation for tmux-intray-nztb
  internal/tui/model/ui_state.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
