Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5120']
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bats)$
        exclude: ^tests/
        args: ["-e", "SC2034", "-e", "SC1091"]
  - repo: local
    hooks:
      - id: shfmt-check
        name: shfmt check
        entry: shfmt -d
        language: system
        files: \.(sh|bats|tmux)$
        exclude: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
        pass_filenames: true
      - id: bats
        name: Bats
        entry: bats
        language: system
        files: ^tests/.*\.bats$
      - id: gofmt-vet
        name: gofmt+vet
        entry: scripts/go-pre-commit.sh
        language: system
        files: \.go$

refactor: config validation to reduce cognitive complexity (#149)
  internal/config/config.go
Due: gofmt-vet

fix(tui): align tree service FindNodeByID signatures
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
Due: gofmt-vet

refactor: remove unused scripts and fix shellcheck paths
  scripts/ci-log-publisher.sh
  scripts/lib/common.sh
  scripts/status-panel.sh
  scripts/test-install.sh
  scripts/update-tmux-status.sh
Due: shfmt-check

Refactor storage functions to reduce cognitive complexity
  internal/storage/storage.go
Due: gofmt-vet

fix(tui): initialize notification service state and add filter management
  internal/tui/service/notification_service.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
Due: gofmt-vet

refactor(tui): complete model delegation to services (#147)
  internal/tui/model/notification_service.go
  internal/tui/model/tree_service.go
  internal/tui/service/notification_service.go
  internal/tui/service/tree_service.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

Refactor Update function into handler methods
  internal/tui/state/model.go
Due: gofmt-vet

refactor: remove unused scripts and fix shellcheck paths (#151)
  scripts/ci-log-publisher.sh
  scripts/lib/common.sh
  scripts/status-panel.sh
  scripts/test-install.sh
  scripts/update-tmux-status.sh
Due: shfmt-check

fix(tui): remove duplicate ensureNotificationService method
  internal/tui/state/model.go
Due: gofmt-vet

refactor(storage): extract dismissal logic into reusable functions
  internal/storage/storage.go
Due: gofmt-vet

Reduce cognitive complexity across TUI and storage layers (#152)
  internal/storage/storage.go
  internal/tui/state/model.go
Due: gofmt-vet

chore(dex): changed install target to build to ~/.local/bin
  Makefile
Due: none

chore(dex): changed install target to build to ~/.local/bin (#154)
  Makefile
Due: none

fix(storage): ensure timestamp consistency in DualWriter
  internal/storage/domain_repository_adapter_test.go
  internal/storage/dualwriter.go
  internal/storage/dualwriter_test.go
  internal/storage/file_storage.go
  internal/storage/interface.go
  internal/storage/sqlite/storage.go
  internal/storage/storage.go
Due: gofmt-vet

test(storage): add tests for DismissAll, MarkNotificationUnread, and CleanupOldNotifications
  internal/storage/dualwriter_test.go
Due: gofmt-vet

refactor(storage): extract dismissal data prep from DismissAll (#153)
  internal/storage/domain_repository_adapter_test.go
  internal/storage/dualwriter.go
  internal/storage/dualwriter_test.go
  internal/storage/file_storage.go
  internal/storage/interface.go
  internal/storage/sqlite/storage.go
  internal/storage/storage.go
Due: gofmt-vet

test(integration): add Go/Bash compatibility tests for hooks and config
  internal/config/integration_test.go
  internal/hooks/integration_test.go
Due: gofmt-vet

feat: auto mark notifications as read on jump with opt-out flag
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  docs/cli/CLI_REFERENCE.md
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat: sort unread notifications before read ones
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  docs/cli/CLI_REFERENCE.md
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
Due: gofmt-vet

fix(tui): prevent footer corruption when cycling view mode
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/service/command_service.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(tui): resolve merge conflicts in pr/tui-viewmode-rendering-fixes branch
  internal/tui/state/model.go
Due: gofmt-vet

fix(tui): show pane names in list view
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(tui): stabilize view mode rendering and resolve tmux names (#157)
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  docs/cli/CLI_REFERENCE.md
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/service/command_service.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(tui): add gg/G navigation shortcuts
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat: add Codecov integration for PR coverage reporting
  .github/workflows/ci.yml
  README.md
Due: none

feat(tui): add gg/G navigation shortcuts (#158)
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

test(integration): add Go/Bash compatibility tests for hooks and config (#156)
  internal/config/integration_test.go
  internal/hooks/integration_test.go
  internal/storage/dualwriter_test.go
Due: gofmt-vet

docs: add status-right configuration example to tmux-intray.tmux
  tmux-intray.tmux
Due: shfmt-check

feat: add coverage budget enforcement with threshold checks
  .github/workflows/ci.yml
  Makefile
  codecov.yml
  scripts/check-coverage.sh
Due: shfmt-check

Add coverage reporting and budget enforcement (#159)
  .github/workflows/ci.yml
  Makefile
  README.md
  codecov.yml
  scripts/check-coverage.sh
Due: shfmt-check

feat(errors): add error handler abstraction for CLI and TUI
  cmd/tmux-intray/jump.go
  internal/core/tmux.go
  internal/errors/handler.go
  internal/errors/handler_test.go
  internal/errors/tui_handler.go
  internal/tmux/client.go
  internal/tui/render/render.go
  internal/tui/service/command_service.go
  internal/tui/service/command_service_test.go
  internal/tui/service/tmux_coordinator.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

fix(tui): centralize UI command error handling
  cmd/tmux-intray/jump.go
  internal/core/tmux.go
  internal/errors/handler.go
  internal/errors/handler_test.go
  internal/errors/tui_handler.go
  internal/tmux/client.go
  internal/tui/render/render.go
  internal/tui/service/command_service.go
  internal/tui/service/command_service_test.go
  internal/tui/service/tmux_coordinator.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

chore(ci): enable codecov
  .github/workflows/ci.yml
Due: none

chore(ci): enable codecov (#162)
  .github/workflows/ci.yml
Due: none

Improve test coverage and add Go/Bash integration tests (#161)
  tmux-intray.tmux
Due: shfmt-check

refactor(errors): share default CLI color adapter
  internal/core/tmux.go
  internal/errors/colors_output.go
  internal/errors/handler_test.go
  internal/tmux/client.go
Due: gofmt-vet

chore: remove macOS from lint CI job
  .github/workflows/ci.yml
Due: none

test(errors): cover colors output adapter paths
  internal/errors/colors_output_test.go
  internal/errors/handler_test.go
Due: gofmt-vet
