Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

refactor(cmd): remove custom help command, use Cobra built-in help
  cmd/root.go
  cmd/tmux-intray/help.go
  cmd/tmux-intray/help_test.go
Due: gofmt-vet

fix: resolve CI failures - remove duplicates, fix test flakiness, improve code quality
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/status.go
  fix_status.py
  internal/core/core.go
Due: gofmt-vet

chore: remove debug script
  fix_status.py
Due: none

refactor: remove migrate command and TSV-to-SQLite migration code
  README.md
  cmd/tmux-intray/help.go
  cmd/tmux-intray/help_test.go
  cmd/tmux-intray/migrate.go
  cmd/tmux-intray/migrate_test.go
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/storage-migration.md
  internal/storage/sqlite/migration.go
  internal/storage/sqlite/migration_test.go
  internal/storage/sqlite/storage.go
Due: gofmt-vet

chore: remove accidentally committed coverage file
  coverage_new.out
Due: none

refactor: jump and status commands with dependency injection (#180)
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  coverage_new.out
  internal/core/core.go
  internal/core/core_test.go
Due: gofmt-vet

fix_test_usage
  tests/basic.bats
Due: shfmt-check, bats

refactor: change mark-read and settings with improved test coverage (#179)
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/mark-read.go
  cmd/tmux-intray/mark-read_test.go
  cmd/tmux-intray/settings.go
  cmd/tmux-intray/settings_test.go
  coverage_new.out
  go.mod
  internal/core/core.go
Due: gofmt-vet

chore(install): copy binary to GOPATH bin directory (#182)
  Makefile
Due: none

refactor: clear and cleanup commands with dependency injection (#178)
  cmd/tmux-intray/add.go
  cmd/tmux-intray/cleanup.go
  cmd/tmux-intray/cleanup_test.go
  cmd/tmux-intray/clear.go
  cmd/tmux-intray/clear_test.go
  internal/core/core.go
Due: gofmt-vet

chore(gitignore): ignore test artifact notifications.db
  .gitignore
Due: none

docs: update/remove remaining TSV storage references
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/sqlite-opt-in-feedback.yml
  RELEASE_NOTES.md
  docs/troubleshooting.md
Due: none

refactor(cmd): remove custom help command, use Cobra built-in help (#183)
  cmd/root.go
  cmd/tmux-intray/help.go
  cmd/tmux-intray/help_test.go
  coverage_new.out
  tests/basic.bats
Due: shfmt-check, bats, gofmt-vet

fix(core): fix test isolation and undefined fileStorage references
  internal/core/core_test.go
Due: gofmt-vet

refactor(cmd): apply add command pattern to version with improved test coverage
  cmd/tmux-intray/version.go
  cmd/tmux-intray/version_test.go
  internal/core/core.go
Due: gofmt-vet

refactor: apply dependency injection pattern to remaining commands
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/follow_test.go
  cmd/tmux-intray/help.go
  cmd/tmux-intray/help_test.go
  cmd/tmux-intray/migrate.go
  cmd/tmux-intray/migrate_test.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status_panel_test.go
  cmd/tmux-intray/toggle.go
  cmd/tmux-intray/toggle_test.go
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/version.go
  cmd/tmux-intray/version_test.go
Due: gofmt-vet

refactor(storage): remove TSV backend, make SQLite the only option (#181)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/sqlite-opt-in-feedback.yml
  .gitignore
  DEVELOPMENT.md
  README.md
  RELEASE_NOTES.md
  cmd/tmux-intray/migrate.go
  cmd/tmux-intray/migrate_test.go
  coverage_new.out
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/design/go-package-structure.md
  docs/philosophy.md
  docs/storage-migration.md
  docs/troubleshooting.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/integration_test.go
  internal/core/core_test.go
  internal/storage/bounds_test.go
  internal/storage/dualwriter.go
  internal/storage/dualwriter_integration_test.go
  internal/storage/dualwriter_test.go
  internal/storage/factory.go
  internal/storage/factory_test.go
  internal/storage/fields.go
  internal/storage/file_storage.go
  internal/storage/init.go
  internal/storage/init_test.go
  internal/storage/integration_test.go
  internal/storage/lock.go
  internal/storage/notification_test.go
  internal/storage/sqlite/migration.go
  internal/storage/sqlite/migration_test.go
  internal/storage/sqlite/storage.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/storage/tmux_status_test.go
  internal/tmuxintray/tmuxintray_test.go
Due: gofmt-vet

refactor(cmd): apply add command pattern to version with improved test coverage (#184)
  cmd/tmux-intray/version.go
  cmd/tmux-intray/version_test.go
  internal/core/core.go
Due: gofmt-vet

test: fix help output case sensitivity in basic.bats
  tests/basic.bats
Due: shfmt-check, bats

fix: remove incorrectly restored help files (removed in da08d20)
  cmd/tmux-intray/help.go
  cmd/tmux-intray/help_test.go
Due: gofmt-vet

test: update help output assertion in basic.bats
  tests/basic.bats
Due: shfmt-check, bats

refactor: remaining commands with dependency injection (#185)
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/follow_test.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status_panel_test.go
  cmd/tmux-intray/toggle.go
  cmd/tmux-intray/toggle_test.go
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/version_test.go
Due: gofmt-vet

refactor(cmd): remove unused toggle command
  DEVELOPMENT.md
  README.md
  cmd/tmux-intray/toggle.go
  cmd/tmux-intray/toggle_test.go
  docs/cli/CLI_REFERENCE.md
  docs/design/go-package-structure.md
  man/man1/tmux-intray.1
  tests/commands/management.bats
  tests/hooks-integration.bats
  tests/tray.bats
Due: shfmt-check, bats, gofmt-vet

refactor(cmd): remove unused toggle command (#187)
  DEVELOPMENT.md
  README.md
  cmd/tmux-intray/toggle.go
  cmd/tmux-intray/toggle_test.go
  docs/cli/CLI_REFERENCE.md
  docs/design/go-package-structure.md
  man/man1/tmux-intray.1
  tests/commands/management.bats
  tests/hooks-integration.bats
  tests/tray.bats
Due: shfmt-check, bats, gofmt-vet

fix_plugin_tmux_intray_resolve_false_failures_and_message_corruption
  opencode/plugins/opencode-tmux-intray.js
Due: none

fix(plugin): resolve false failures and message corruption in opencode-tmux-intray (#188)
  opencode/plugins/opencode-tmux-intray.js
Due: none

refactor(version): remove custom version command, use Cobra built-in
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  cmd/root.go
  cmd/tmux-intray/version.go
  cmd/tmux-intray/version_test.go
  cmd/version.go
  docs/troubleshooting.md
  install.sh
  scripts/verify-binary.sh
  tests/basic.bats
  tests/binary-verification.bats
  tests/install.bats
Due: shfmt-check, bats, gofmt-vet

refactor(cmd): remove version command, use Cobra built-in --version flag
  README.md
  cmd/root.go
  cmd/tmux-intray/version.go
  cmd/tmux-intray/version_test.go
  docs/troubleshooting.md
  install.sh
  scripts/verify-binary.sh
  tests/basic.bats
  tests/binary-verification.bats
  tests/install.bats
Due: shfmt-check, bats, gofmt-vet

refactor(version): remove custom version command, use Cobra built-in (#189)
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
  cmd/root.go
  cmd/tmux-intray/version.go
  cmd/tmux-intray/version_test.go
  cmd/version.go
  docs/troubleshooting.md
  install.sh
  scripts/verify-binary.sh
  tests/basic.bats
  tests/binary-verification.bats
  tests/install.bats
Due: shfmt-check, bats, gofmt-vet

bd sync: 2026-02-14 00:03:28
  .beads/issues.jsonl
  .beads/metadata.json
Due: none

bd sync: 2026-02-14 00:15:02
  .beads/issues.jsonl
Due: none

bd sync
  .beads/issues.jsonl
Due: none

refactor(tui): reduce cyclomatic complexity in Model.Update
  internal/tui/state/model.go
Due: gofmt-vet

refactor(storage): extract dismissSingleNotification helper to reduce DismissAll complexity
  internal/storage/sqlite/storage.go
Due: gofmt-vet

feat(domain): add SortByReadStatusField for unread-first sorting
  internal/domain/sorting.go
  internal/domain/sorting_test.go
Due: gofmt-vet

refactor(storage): extract dismissSingleNotification helper to reduce DismissAll complexity (#195)
  internal/storage/sqlite/storage.go
Due: gofmt-vet

feat(domain): add SortByReadStatusField for unread-first sorting (#196)
  internal/domain/sorting.go
  internal/domain/sorting_test.go
Due: gofmt-vet

chore(license): update copyright holder to Cristian Oliveira
  cmd/root.go
  cmd/tmux-intray/cleanup.go
  cmd/tmux-intray/clear.go
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/mark-read.go
  cmd/tmux-intray/settings.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/tui.go
Due: gofmt-vet

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
