Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: bats, gofmt-vet

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: Go fmt/vet
  entry: bash -c './scripts/go-pre-commit.sh "$@"' --
  language: system

feat(cleanup): implement cleanup command migration with hook support
  cmd/cleanup.go
  internal/storage/storage.go
  internal/storage/storage_test.go
Due: gofmt-vet

feat(hooks): add async hook support with timeout and error handling
  cmd/root.go
  cmd/toggle.go
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
  main.go
Due: gofmt-vet

refactor(cmd): consolidate command logic into cmd/ directory
  cmd/status-panel.go
  cmd/status.go
  cmd/status_panel_test.go
  cmd/status_test.go
  cmd/toggle.go
  cmd/toggle_test.go
  cmd/version.go
  cmd/version_test.go
Due: gofmt-vet

docs: update package structure documentation for cmd/ refactor
  docs/cli-go-migration-roadmap.md
  docs/design/go-package-structure.md
  docs/design/package-structure-decision.md
Due: none

fix(storage): implement TSV compatibility and deadlock fixes
  internal/storage/storage.go
  internal/storage/storage_test.go
  lib/storage.sh
Due: gofmt-vet

feat(cli): Phase 3 complete - tmuxintray orchestration package
  internal/storage/storage.go
  internal/tmuxintray/tmuxintray.go
  internal/tmuxintray/tmuxintray_test.go
Due: gofmt-vet

feat(config): add hooks_async_timeout and max_hooks configuration options
  internal/config/config.go
  internal/config/config_test.go
Due: gofmt-vet

feat(add): implement add command migration with hook integration
  cmd/add.go
  internal/storage/storage.go
  internal/storage/storage_test.go
Due: gofmt-vet

chore: remove broken wrapper file
  cmd/wrapper/main.go
Due: gofmt-vet

ci(warn): ready but timed out
  .github/workflows/ci.yml
  Makefile
  bin/tmux-intray
Due: none

fix: cleanup temp file on exit
  lib/storage.sh
Due: none

feat(add): implement add command migration with hook integration
  cmd/add.go
Due: gofmt-vet

fix: remove invalid pane_created from tmux format string
  internal/core/tmux.go
Due: gofmt-vet

feat(cli): add Go CLI entry point and update test data
  cmd/go-cli/main.go
  test_state/notifications.tsv
Due: gofmt-vet

feat: improve list display and jump functionality
  cmd/list.go
  internal/core/tmux.go
Due: gofmt-vet

feat(jump): migrate jump command from Bash to Go with storage optimization
  cmd/jump.go
  cmd/jump_test.go
  internal/hooks/hooks.go
  internal/storage/notification_test.go
  internal/storage/storage.go
Due: gofmt-vet

refactor(status): migrate to simplified output with environment variable support
  cmd/status.go
  cmd/status_test.go
Due: gofmt-vet

refactor(hooks): remove unused imports (colors and config)
  internal/hooks/hooks.go
Due: gofmt-vet

fix(tests): resolve test failures in Go implementation
  cmd/list.go
  cmd/status_panel_test.go
  internal/storage/lock.go
Due: gofmt-vet

test: comprehensive test improvements for Go implementation
  cmd/toggle_test.go
  internal/core/core_test.go
  internal/core/tmux_test.go
Due: gofmt-vet

feat(ci): complete migration preparation with foolproof binary verification
  .github/workflows/ci.yml
  Makefile
  scripts/verify-binary.sh
  tests/basic.bats
  tests/binary-verification.bats
Due: bats

feat(install): remove Docker installation method
  Dockerfile
  Makefile
Due: none

feat: Migrate to Go implementation as default
  Makefile
  README.md
  bin/tmux-intray
  cmd/add.go
  cmd/clear.go
  cmd/root.go
  integration/cmd/follow_integration_test.go
  internal/storage/clear_test.go
  opencode/plugins/opencode-tmux-intray/README.md
  opencode/plugins/opencode-tmux-intray/test-utils/convert-tests.js
  opencode/plugins/opencode-tmux-intray/test-utils/fix-warn-mocks.js
  opencode/plugins/opencode-tmux-intray/test-utils/generate-config.js
  tests/basic.bats
  tests/binary-verification.bats
  tests/cli.bats
Due: bats, gofmt-vet

feat: replace bash wrapper with pure Go implementation
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Formula/tmux-intray.rb
  Makefile
  README.md
  bin/tmux-intray
  cmd/go-cli/main.go
  cmd/testadd/main.go
  cmd/tmux-intray/main.go
  commands/add.sh
  commands/add/modules/formatters.sh
  commands/add/modules/validators.sh
  commands/cleanup.sh
  commands/clear.sh
  commands/dismiss.sh
  commands/follow.sh
  commands/help.sh
  commands/jump.sh
  commands/list.sh
  commands/status-panel.sh
  commands/status.sh
  commands/toggle.sh
  commands/version.sh
  docs/architecture/go-wrapper-architecture.md
  docs/implementation/go-package-design.md
  embed.go
  go.mod
  install.sh
  lib/colors.sh
  lib/config.sh
  lib/core.sh
  lib/hooks.sh
  lib/storage.sh
  lib/tmux-intray.sh
  scripts/verify-binary.sh
  tmux-intray.tmux
  verification-report.md
Due: gofmt-vet

refactor(cmd): reorganize command structure following Go CLI best practices
  cmd/root.go
  cmd/tmux-intray/add.go
  cmd/tmux-intray/cleanup.go
  cmd/tmux-intray/clear.go
  cmd/tmux-intray/clear_test.go
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/follow_test.go
  cmd/tmux-intray/help.go
  cmd/tmux-intray/help_test.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/main.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_panel_test.go
  cmd/tmux-intray/status_test.go
  cmd/tmux-intray/toggle.go
  cmd/tmux-intray/toggle_test.go
  cmd/tmux-intray/version.go
  cmd/tmux-intray/version_test.go
  cmd/version.go
  install.sh
Due: gofmt-vet

feat(cli): remove bash wrapper in favor of Go binary
  bin/tmux-intray
Due: none

fix(tests): update test references from bin/tmux-intray to tmux-intray binary
  .envrc
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/architecture/go-wrapper-architecture.md
  docs/cli-go-migration-testing-strategy.md
  docs/design/go-package-structure.md
  docs/hook-migration-guide.md
  docs/testing/golden-test-design.md
  flake.nix
  internal/hooks/hooks.go
  scripts/generate-docs.sh
  tests/basic.bats
  tests/binary-verification.bats
  tests/cli.bats
  tests/commands/add.bats
  tests/commands/follow.bats
  tests/commands/jump.bats
  tests/commands/list-pane.bats
  tests/commands/list.bats
  tests/commands/management.bats
  tests/commands/status-panel.bats
  tests/commands/status.bats
  tests/install.bats
  tests/tray.bats
Due: bats, gofmt-vet

fix(ci): resolve critical workflow issues for Go-only implementation
  .github/workflows/ci.yml
  Makefile
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/test-real.js
  scripts/lib/common.sh
Due: none

fix(ci): resolve workflow failures and test issues
  .github/workflows/ci.yml
  install.sh
  internal/storage/storage_test.go
  lib/colors.sh
  lib/config.sh
  lib/hooks.sh
  lib/storage.sh
Due: gofmt-vet

fix(ci): resolve ShellCheck warning and test debug output
  install.sh
  internal/storage/storage_test.go
Due: gofmt-vet

Fix: Redirect config creation messages to stderr
  lib/config.sh
Due: none

ci: add tmuxless mode for CI and testing environments
  .github/workflows/ci.yml
  .gitignore
  Makefile
  cmd/tmux-intray/add.go
  cmd/tmux-intray/env_helpers.go
  cmd/tmux-intray/env_helpers_test.go
  cmd/tmux-intray/toggle.go
Due: gofmt-vet

fix(ci): resolve Go setup and binary verification issues
  .github/workflows/ci.yml
Due: none

fix(ci): build Go binary before npm install in install-linux job
  Makefile
Due: none

fix(homebrew): resolve formula audit and build issues
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Formula/tmux-intray.rb
Due: none

fix: properly handle Homebrew formula installation in CI
  .github/workflows/ci.yml
  Makefile
Due: none

fix: Initialize Homebrew tap as git repository for CI
  .github/workflows/ci.yml
Due: none

Path conditions:
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
