Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5120']
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bats)$
        exclude: ^tests/
        args: ["-e", "SC2034", "-e", "SC1091"]
  - repo: local
    hooks:
      - id: shfmt-check
        name: shfmt check
        entry: shfmt -d
        language: system
        files: \.(sh|bats|tmux)$
        exclude: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
        pass_filenames: true
      - id: bats
        name: Bats
        entry: bats
        language: system
        files: ^tests/.*\.bats$
      - id: gofmt-vet
        name: gofmt+vet
        entry: scripts/go-pre-commit.sh
        language: system
        files: \.go$

refactor: replace telemetry with simple logging and add debugging guide (#369)
  README.md
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/telemetry.go
  cmd/tmux-intray/telemetry_test.go
  docs/ci-cd.md
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/debugging.md
  docs/design/telemetry-architecture.md
  docs/plans/recents-all-and-jump-navigation-breakdown.md
  docs/privacy.md
  docs/troubleshooting.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
  internal/log/log.go
  internal/ports/telemetry.go
  internal/storage/domain_repository_adapter_test.go
  internal/storage/interface.go
  internal/storage/sqlite/queries.sql
  internal/storage/sqlite/schema.sql
  internal/storage/sqlite/sqlcgen/db.go
  internal/storage/sqlite/sqlcgen/models.go
  internal/storage/sqlite/sqlcgen/queries.sql.go
  internal/storage/sqlite/telemetry.go
  internal/storage/sqlite/telemetry_test.go
  internal/telemetry/example_test.go
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

feat(logging): add structured logging with file output, rotation, and redaction (#234)
  cmd/root.go
  cmd/tmux-intray/deps.go
  docs/configuration.md
  go.mod
  go.sum
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/logging/structured.go
Due: gofmt-vet

feat: extend logging
  cmd/tmux-intray/tui.go
  internal/logging/logger.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

feat: add structured logging with file output, rotation, and redaction (#370)
  cmd/root.go
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/tui.go
  docs/configuration.md
  go.mod
  go.sum
  internal/logging/logger.go
  internal/logging/logger_test.go
  internal/logging/structured.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

refactor: simplify hooks configuration by removing dead per-hook enablement settings
  docs/configuration.md
  docs/hooks.md
  docs/troubleshooting.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
Due: gofmt-vet

docs: remove all references to unimplemented hook configuration settings
  docs/configuration.md
  docs/hooks.md
  docs/troubleshooting.md
Due: none

docs: remove deprecated hooks_enabled from configuration example
  docs/configuration.md
Due: none

refactor: simplify hooks configuration by removing dead per-hook enablement settings (#371)
  docs/configuration.md
  docs/hooks.md
  docs/troubleshooting.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
Due: gofmt-vet

Remove deprecated internal/log package
  internal/log/log.go
Due: gofmt-vet

Remove unused internal/tmuxintray package
  internal/tmuxintray/tmuxintray.go
  internal/tmuxintray/tmuxintray_test.go
Due: gofmt-vet

Remove unused ExecuteOriginal() and handleCommandError() functions from cmd/root.go
  cmd/root.go
Due: gofmt-vet

refactor: remove unused function stubs and superseded printers
  internal/format/tmuxintray.go
  internal/format/tmuxintray_test.go
Due: gofmt-vet

refactor: remove 12 unused configuration keys that were never implemented
  docs/configuration.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/integration_test.go
  internal/config/validators.go
Due: gofmt-vet

Remove self-referential mock test files
  internal/search/mock_test.go
  internal/tmux/mock_test.go
Due: gofmt-vet

refactor: remove ~1,300 lines of dead code and unused configurations (#372)
  cmd/root.go
  docs/configuration.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/integration_test.go
  internal/config/validators.go
  internal/format/tmuxintray.go
  internal/format/tmuxintray_test.go
  internal/log/log.go
  internal/tmuxintray/tmuxintray.go
  internal/tmuxintray/tmuxintray_test.go
Due: gofmt-vet

refactor: remove self-referential mock test files (#373)
  internal/search/mock_test.go
  internal/tmux/mock_test.go
Due: gofmt-vet

refactor: remove unused storage interface methods (MarkNotificationReadWithTimestamp, MarkNotificationUnreadWithTimestamp)
  cmd/tmux-intray/deps_test.go
  internal/storage/domain_repository_adapter_test.go
  internal/storage/interface.go
  internal/storage/sqlite/read.go
  internal/storage/storage.go
  internal/storage/storage_test.go
Due: gofmt-vet

chore: enable unused linter to detect and prevent dead code
  .golangci.yml
Due: none

refactor: remove unused storage interface methods (#ihc) (#374)
  cmd/tmux-intray/deps_test.go
  internal/storage/domain_repository_adapter_test.go
  internal/storage/interface.go
  internal/storage/sqlite/read.go
  internal/storage/storage.go
  internal/storage/storage_test.go
Due: gofmt-vet

refactor: remove 36 unused code items detected by linter
  cmd/tmux-intray/list_test.go
  internal/hooks/hooks.go
  internal/logging/logger.go
  internal/storage/fields.go
  internal/storage/init.go
  internal/storage/sqlite/errors.go
  internal/tui/render/group_row.go
  internal/tui/service/notification_helpers.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/messages.go
  internal/tui/state/model.go
  internal/tui/state/model_missing_branches_test.go
  internal/tui/state/model_movement.go
  internal/tui/state/model_tree_build.go
  internal/tui/state/model_tree_expansion.go
  internal/tui/state/tree.go
  internal/tui/state/tree_service.go
Due: gofmt-vet

chore: enable unused linter to detect and prevent dead code (#375)
  .golangci.yml
  cmd/tmux-intray/list_test.go
  internal/hooks/hooks.go
  internal/logging/logger.go
  internal/storage/fields.go
  internal/storage/init.go
  internal/storage/sqlite/errors.go
  internal/tui/render/group_row.go
  internal/tui/service/notification_helpers.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/messages.go
  internal/tui/state/model.go
  internal/tui/state/model_missing_branches_test.go
  internal/tui/state/model_movement.go
  internal/tui/state/model_tree_build.go
  internal/tui/state/model_tree_expansion.go
  internal/tui/state/tree.go
  internal/tui/state/tree_service.go
Due: gofmt-vet

refactor: make BucketFromKey unexported (bucketFromKey)
  internal/dedup/dedup.go
  internal/dedup/dedup_test.go
Due: gofmt-vet

test: remove perpetually skipped TestEnvironmentDebugEnabled test
  internal/colors/colors_test.go
Due: gofmt-vet

refactor: standardize configuration access to use config.Get*() API
  cmd/tmux-intray/status.go
  internal/config/config.go
  internal/hooks/hooks.go
Due: gofmt-vet

refactor: remove unused internal/app/ directory (1,063 lines of dead code)
  internal/app/add.go
  internal/app/cleanup.go
  internal/app/clear.go
  internal/app/dismiss.go
  internal/app/follow.go
  internal/app/jump.go
  internal/app/list.go
  internal/app/mark_read.go
  internal/app/settings.go
  internal/app/status.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

refactor: make BucketFromKey unexported (bucketFromKey) (#376)
  internal/dedup/dedup.go
  internal/dedup/dedup_test.go
Due: gofmt-vet

test: remove perpetually skipped TestEnvironmentDebugEnabled test (#377)
  internal/colors/colors_test.go
Due: gofmt-vet

test: fix async hook tests - timeout format and timeout handling
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
Due: gofmt-vet

feat: enable ctrl+a and ctrl+r tab switching in all views
  docs/shortcuts.md
  internal/tui/render/render.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat: enable ctrl+a and ctrl+r tab switching in all views (#380)
  docs/shortcuts.md
  internal/tui/render/render.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix: remove duplicated tab shortcuts from help text
  internal/tui/render/render.go
  internal/tui/render/render_test.go
Due: gofmt-vet

fix: remove duplicated tab shortcuts from help text (#381)
  internal/tui/render/render.go
  internal/tui/render/render_test.go
Due: gofmt-vet

fix(npm): fix shell script linting and update npm package installation
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  README.md
  bin/tmux-intray.js
  package.json
  scripts/build-npm-binaries.sh
Due: shfmt-check

fix(ci): add execute permission to build-npm-binaries.sh
  scripts/build-npm-binaries.sh
Due: shfmt-check

fix(npm): fix npm package installation and add multi-platform binary support (#382)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  README.md
  bin/tmux-intray.js
  package.json
  scripts/build-npm-binaries.sh
Due: shfmt-check

chore: remove unused code
  opencode/plugins/opencode-tmux-intray.js
Due: none

docs(design): update import graph baseline with new dependencies
  docs/design/import-graph-baseline.tsv
Due: none

docs(design): update import graph baseline with new dependencies (#384)
  docs/design/import-graph-baseline.tsv
  opencode/plugins/opencode-tmux-intray.js
Due: none

feat: add tmux-intray extension for pi-mono agent
  pi/agent/extensions/tmux-intray/index.ts
  pi/agent/extensions/tmux-intray/install.sh
Due: shfmt-check
