Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

fix(tui): use y/N for confirmation with Enter as default cancel
  docs/design/tui/tui-guidelines.md
  internal/tui/state/model_keys.go
  internal/tui/state/model_render.go
  internal/tui/state/ui_state.go
  internal/tui/state/ui_state_test.go
Due: gofmt-vet

feat(format): introduce internal/format package and migrate CLI commands
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  internal/format/README.md
  internal/format/formatter.go
  internal/format/formatter_test.go
  internal/format/notification.go
  internal/format/status.go
  internal/format/status_test.go
  internal/format/table.go
  internal/format/table_test.go
Due: gofmt-vet

refactor(list): migrate to internal/format package
  cmd/tmux-intray/list.go
Due: gofmt-vet

fix(domain): make group sorting deterministic
  internal/domain/grouping.go
Due: gofmt-vet

fix(test): make TestGroupNotificationsWithDedupWindow order-agnostic
  internal/domain/grouping_test.go
Due: gofmt-vet

feat(tui): require explicit 'yes' to dismiss group and refactor ui_state.go (#245)
  docs/design/tui/tui-guidelines.md
  internal/domain/grouping.go
  internal/domain/grouping_test.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_render.go
  internal/tui/state/ui_state.go
  internal/tui/state/ui_state_test.go
Due: gofmt-vet

feat(format): introduce internal/format package and migrate CLI commands (#246)
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  internal/format/README.md
  internal/format/formatter.go
  internal/format/formatter_test.go
  internal/format/notification.go
  internal/format/status.go
  internal/format/status_test.go
  internal/format/table.go
  internal/format/table_test.go
Due: gofmt-vet

bd sync: 2026-02-15 23:02:57
  .beads/issues.jsonl
Due: none

feat: error layout and minimalist foot bar (#247)
  internal/settings/manager.go
  internal/settings/settings.go
  internal/tui/model/ui_state.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_render.go
  internal/tui/state/settings_service.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

Add ? key toggle for help visibility
  internal/tui/render/render.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_test.go
Due: gofmt-vet

bd sync: 2026-02-15 23:48:45
  .beads/issues.jsonl
Due: none

bd sync: 2026-02-15 23:49:48
  .beads/issues.jsonl
Due: none

fix: Always show search query in search mode regardless of help setting
  internal/tui/render/render.go
  internal/tui/render/render_test.go
Due: gofmt-vet

fix: Remove duplicate mode indicator in footer
  internal/tui/render/render.go
Due: gofmt-vet

fix: Make search query blue and prominent when in search mode
  internal/tui/render/render.go
Due: gofmt-vet

refactor(complexity): fix nestif violations in render package and error message format (#249)
  internal/format/notification.go
  internal/tui/render/render.go
Due: gofmt-vet

feat(ui): add hint to toggle help in minimal footer
  internal/tui/render/render.go
  internal/tui/render/render_test.go
Due: gofmt-vet

refactor(tui): split model_tree.go into focused files (#250)
  internal/format/notification.go
  internal/tui/state/model_tree.go
  internal/tui/state/model_tree_build.go
  internal/tui/state/model_tree_expansion.go
  internal/tui/state/model_tree_helpers.go
  internal/tui/state/model_tree_navigation.go
  internal/tui/state/model_tree_view.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

refactor(storage): split sqlite/storage.go into focused modules (issue #251)
  internal/format/notification.go
  internal/storage/sqlite/cleanup.go
  internal/storage/sqlite/dismiss.go
  internal/storage/sqlite/errors.go
  internal/storage/sqlite/read.go
  internal/storage/sqlite/storage.go
  internal/storage/sqlite/tmux.go
Due: gofmt-vet

refactor(tui): split model_tree.go into focused files (#250) (#255)
  internal/format/notification.go
  internal/tui/state/model_tree.go
  internal/tui/state/model_tree_build.go
  internal/tui/state/model_tree_expansion.go
  internal/tui/state/model_tree_helpers.go
  internal/tui/state/model_tree_navigation.go
  internal/tui/state/model_tree_view.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

chore(lint): remove storage.go from grandfathered exclusions
  scripts/lint.sh
Due: shfmt-check

docs(storage): add explanatory comments to refactored modules
  internal/storage/sqlite/cleanup.go
  internal/storage/sqlite/dismiss.go
  internal/storage/sqlite/errors.go
  internal/storage/sqlite/read.go
  internal/storage/sqlite/storage.go
  internal/storage/sqlite/tmux.go
Due: gofmt-vet

refactor(storage): split sqlite/storage.go into focused modules (#256)
  internal/storage/sqlite/cleanup.go
  internal/storage/sqlite/dismiss.go
  internal/storage/sqlite/errors.go
  internal/storage/sqlite/read.go
  internal/storage/sqlite/storage.go
  internal/storage/sqlite/tmux.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

feat: Minimal foot bar with help toggle (#249)
  internal/format/notification.go
  internal/settings/manager.go
  internal/settings/settings.go
  internal/tui/model/ui_state.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_render.go
  internal/tui/state/model_test.go
  internal/tui/state/settings_service.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

feat: add TOML linting rule to enforce snake_case naming conventions
  scripts/lint-toml.sh
  tests/fixtures/toml/invalid_camelcase.toml
  tests/fixtures/toml/invalid_pascalcase.toml
  tests/fixtures/toml/valid_config.toml
  tests/fixtures/toml/valid_settings.toml
Due: shfmt-check

fix(lint): enhance TOML linter with robust parsing and comprehensive tests
  scripts/lint-toml.sh
  tests/fixtures/toml/invalid_kebabcase.toml
  tests/fixtures/toml/invalid_quoted.toml
  tests/lint-toml.bats
Due: shfmt-check, bats

fix(config): standardize TOML naming to snake_case and add linting (#257)
  scripts/lint-toml.sh
  tests/fixtures/toml/invalid_camelcase.toml
  tests/fixtures/toml/invalid_kebabcase.toml
  tests/fixtures/toml/invalid_pascalcase.toml
  tests/fixtures/toml/invalid_quoted.toml
  tests/fixtures/toml/valid_config.toml
  tests/fixtures/toml/valid_settings.toml
  tests/lint-toml.bats
Due: shfmt-check, bats

docs: update documentation for TOML configuration standardization
  AGENTS.md
  DEVELOPMENT.md
Due: none

style: use colors package for informational messages
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  internal/format/status.go
  internal/format/status_test.go
Due: gofmt-vet

fix(settings): update TUIState struct tags to use TOML snake_case format
  internal/settings/manager.go
Due: gofmt-vet

feat(hooks): make hooks execute silently by default with TMUX_INTRAY_HOOKS_VERBOSE flag
  docs/hooks.md
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
Due: gofmt-vet

feat(hooks): make hooks execute silently by default with TMUX_INTRAY_HOOKS_VERBOSE flag (#261)
  docs/hooks.md
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
Due: gofmt-vet

docs: update documentation for TOML configuration standardization (#258)
  AGENTS.md
  DEVELOPMENT.md
Due: none

fix(settings): update TUIState struct tags to use TOML snake_case format (#260)
  internal/settings/manager.go
Due: gofmt-vet

fix: add error handling to fmt.Fprintf calls in list command
  cmd/tmux-intray/list.go
Due: gofmt-vet

style: use colors package for informational messages (#259)
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  internal/format/status.go
  internal/format/status_test.go
Due: gofmt-vet

fix: snake_case TOML tags for settings
  internal/settings/settings.go
  internal/settings/settings_test.go
Due: gofmt-vet

refactor(settings): extract constants to separate file
  internal/settings/constants.go
  internal/settings/settings.go
Due: gofmt-vet

refactor(status-panel): split into core, cmd, and legacy files
  cmd/tmux-intray/status-panel-cmd.go
  cmd/tmux-intray/status-panel-core.go
  cmd/tmux-intray/status-panel-legacy.go
  cmd/tmux-intray/status-panel.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

bd sync: 2026-02-16 22:03:44
  .beads/issues.jsonl
Due: none

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
