Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5120']
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bats)$
        exclude: ^tests/
        args: ["-e", "SC2034", "-e", "SC1091"]
  - repo: local
    hooks:
      - id: shfmt-check
        name: shfmt check
        entry: shfmt -d
        language: system
        files: \.(sh|bats|tmux)$
        exclude: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
        pass_filenames: true
      - id: bats
        name: Bats
        entry: bats
        language: system
        files: ^tests/.*\.bats$
      - id: gofmt-vet
        name: gofmt+vet
        entry: scripts/go-pre-commit.sh
        language: system
        files: \.go$

feat(opencode): capture and pass tmux context flags to CLI
  opencode/plugins/opencode-tmux-intray.js
Due: none

test: update unit test mocks for 4-parameter execFile calls
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture.test.js
Due: none

fix: pass environment variables to child processes in plugin
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/integration.test.js
Due: none

feat(opencode): enhance logging to /tmp/opencode-tmux-intray.log
  opencode/plugins/opencode-tmux-intray.js
Due: none

feat: add simple default list format (ID DATE - Message)
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

fix(jump): correct pane reference format and add comprehensive tests
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  internal/core/tmux.go
  internal/core/tmux_test.go
  tests/commands/jump.bats
Due: shfmt-check, bats, gofmt-vet

fix: use execFileAsync in context capture functions
  opencode/plugins/opencode-tmux-intray.js
Due: none

test(opencode): update tests for simplified plugin design
  opencode/plugins/opencode-tmux-intray/tests/test-plugin.js
Due: none

tests: remove invalid config tests
  opencode/plugins/opencode-tmux-intray/config-loader.js
  opencode/plugins/opencode-tmux-intray/tests/test-plugin.js
Due: none

feat: move ID to end of list output for easier copying
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

feat(opencode): fix binary discovery and add integration tests
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/integration.test.js
Due: none

fix: optimize list output column widths to fit terminal
  cmd/tmux-intray/list.go
Due: gofmt-vet

fix: remove redundant timestamp formatting from messages
  cmd/tmux-intray/add.go
Due: gofmt-vet

chore(ci): disable plugin tests for now
  .github/workflows/ci.yml
Due: none

fix: correct GetCurrentTmuxContext() to parse 4-part format string
  internal/core/tmux.go
  internal/core/tmux_test.go
Due: gofmt-vet

fix: improve pane selection and add detailed debug logging
  cmd/tmux-intray/jump.go
  internal/core/tmux.go
Due: gofmt-vet

fix(opencode): implement context caching and improve error messages
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/test-plugin.js
Due: gofmt-vet

refactor: improve root command handling with cobra.Find
  cmd/root.go
Due: gofmt-vet

test: add env parameter assertions to execFile call expectations
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture.test.js
Due: none

fix: prevent shell variable expansion and improve CLI resilience
  cmd/tmux-intray/add.go
  internal/core/core.go
  opencode/plugins/opencode-tmux-intray.js
Due: gofmt-vet

feat: add tmux context capture to OpenCode plugin
  opencode/plugins/opencode-tmux-intray.js
Due: none

fix: use correct tmux pane selection format (session:window.pane)
  internal/core/tmux.go
  internal/core/tmux_test.go
Due: gofmt-vet

test: add unit tests for context capture functions
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture-demo.test.js
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture.test.js
Due: none

docs: adds examples
  README.md
Due: none

feat(tui): implement interactive terminal UI for notifications
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
  go.mod
  go.sum
  tools.go
Due: gofmt-vet

fix(tui): correct ESC behavior and add vim-like command mode
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
Due: gofmt-vet

feat(tui): add viewport scrolling and update dependencies
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
  go.mod
  go.sum
Due: gofmt-vet

docs(tmux): update key bindings and add TUI documentation
  README.md
  docs/cli/CLI_REFERENCE.md
Due: none

feat(tmux): change list binding to follow mode
  tmux-intray.tmux
Due: shfmt-check

feat(tui): add keybinding to open TUI in popup window
  tmux-intray.tmux
Due: shfmt-check

fix: correct go run command path for local development
  tmux-intray.tmux
Due: shfmt-check

fix(tmus): path to tmux-intray cli for dev
  tmux-intray.tmux
Due: shfmt-check

Fix silent command execution failures in updateTmuxStatusOption()
  internal/storage/storage.go
  internal/storage/storage_test.go
Due: gofmt-vet
