Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5120']
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bats)$
        exclude: ^tests/
        args: ["-e", "SC2034", "-e", "SC1091"]
  - repo: local
    hooks:
      - id: shfmt-check
        name: shfmt check
        entry: shfmt -d
        language: system
        files: \.(sh|bats|tmux)$
        exclude: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
        pass_filenames: true
      - id: bats
        name: Bats
        entry: bats
        language: system
        files: ^tests/.*\.bats$
      - id: gofmt-vet
        name: gofmt+vet
        entry: scripts/go-pre-commit.sh
        language: system
        files: \.go$

fix(tui): align UIState implementation with interface contract (#130)
  internal/tui/model/ui_state.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

Extract Command service from TUI
  internal/tui/service/command_service.go
  internal/tui/service/command_service_test.go
  internal/tui/service/help_provider.go
  internal/tui/service/help_provider_test.go
  internal/tui/service/model_interface.go
  internal/tui/state/model.go
Due: gofmt-vet

refactor(tui): simplify command service architecture
  internal/tui/service/command_service.go
  internal/tui/service/model_interface.go
Due: gofmt-vet

refactor(domain): extract Notification domain layer (#tmux-intray-xmlc)
  internal/domain/filters.go
  internal/domain/filters_test.go
  internal/domain/grouping.go
  internal/domain/grouping_test.go
  internal/domain/notification.go
  internal/domain/notification_test.go
  internal/domain/repository.go
  internal/domain/sorting.go
  internal/domain/sorting_test.go
Due: gofmt-vet

fix(tui): add treeService initialization to Model tests
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(tui): extract Command service from TUI Model (#131)
  internal/tui/service/command_service.go
  internal/tui/service/command_service_test.go
  internal/tui/service/help_provider.go
  internal/tui/service/help_provider_test.go
  internal/tui/service/model_interface.go
  internal/tui/state/model.go
Due: gofmt-vet

refactor(domain): extract Notification domain layer (#132)
  internal/domain/filters.go
  internal/domain/filters_test.go
  internal/domain/grouping.go
  internal/domain/grouping_test.go
  internal/domain/notification.go
  internal/domain/notification_test.go
  internal/domain/repository.go
  internal/domain/sorting.go
  internal/domain/sorting_test.go
Due: gofmt-vet

fix(tui): fix expansion state management and test compilation issues
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor: extract tree management service (#133)
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor: move lib/*.sh to scripts/lib/ for better organization
  DEVELOPMENT.md
  docs/design/go-package-structure.md
  internal/storage/storage_test.go
  scripts/lib/colors.sh
  scripts/lib/storage.sh
  scripts/status-panel.sh
  scripts/update-tmux-status.sh
  tests/commands/jump.bats
  tests/commands/list-pane.bats
  tests/storage-pane.bats
  tests/storage.bats
Due: shfmt-check, bats, gofmt-vet

chore(ci): add golangci-lint and complexity checks
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
Due: none

chore(lint): implement function complexity thresholds and fix flaky test
  .golangci.yml
  internal/tmux/client_test.go
Due: gofmt-vet

fix(ci): pin golangci-lint to v2.8.0 to match Nix dev shell
  .github/workflows/ci.yml
Due: none

fix(ci): correct golangci-lint v2 module path
  .github/workflows/ci.yml
  .golangci.yml
Due: none

fix(lint): properly exclude git worktree directories from lint checks
  scripts/lib/common.sh
Due: shfmt-check

fix(lint): remove unused PROJECT_ROOT variable from status-panel.sh
  scripts/status-panel.sh
Due: shfmt-check

fix(lint): remove unused PROJECT_ROOT variable from update-tmux-status.sh
  scripts/update-tmux-status.sh
Due: shfmt-check

refactor(tui): implement nested model composition with service layer (#133)
  internal/tui/model/notification_service.go
  internal/tui/model/runtime_coordinator.go
  internal/tui/model/tree_service.go
  internal/tui/service/notification_service.go
  internal/tui/service/tmux_coordinator.go
  internal/tui/service/tree_service.go
  internal/tui/state/messages.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
  internal/tui/state/tree.go
Due: gofmt-vet

refactor: move lib/*.sh to scripts/lib/ for better organization (#137)
  DEVELOPMENT.md
  docs/design/go-package-structure.md
  internal/storage/storage_test.go
  scripts/lib/colors.sh
  scripts/lib/common.sh
  scripts/lib/storage.sh
  scripts/status-panel.sh
  scripts/update-tmux-status.sh
  tests/commands/jump.bats
  tests/commands/list-pane.bats
  tests/storage-pane.bats
  tests/storage.bats
Due: shfmt-check, bats, gofmt-vet

chore(lint): implement function complexity thresholds and fix flaky test (#134)
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  internal/tmux/client_test.go
Due: gofmt-vet

refactor(tui): implement nested model composition with service layer (#139)
  internal/tui/model/notification_service.go
  internal/tui/model/runtime_coordinator.go
  internal/tui/model/tree_service.go
  internal/tui/service/notification_service.go
  internal/tui/service/tmux_coordinator.go
  internal/tui/service/tree_service.go
  internal/tui/state/messages.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
  internal/tui/state/tree.go
Due: gofmt-vet

chore: adds issue templates and feature template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/templates/feature-template.md
Due: none

chore: remove development artifacts and ignore *.tsv files
  .gitignore
  notifications.tsv
  test_state/notifications.tsv
Due: none

chore: remove development artifacts and ignore *.tsv files (#141)
  .gitignore
  notifications.tsv
  test_state/notifications.tsv
Due: none

chore: adds issue templates and feature template (#140)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  docs/templates/feature-template.md
Due: none

refactor(tui): move tree state ownership to TreeService
  internal/tui/model/tree_service.go
  internal/tui/service/tree_service.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
Due: gofmt-vet

test(tui): add TreeService cache and state coverage
  internal/tui/service/tree_service_test.go
Due: gofmt-vet

refactor(tui): extract RuntimeCoordinator for tmux operations
  internal/tui/state/model.go
  internal/tui/state/model_integration_test.go
  internal/tui/state/model_test.go
  internal/tui/state/runtime_coordinator.go
  internal/tui/state/runtime_coordinator_test.go
Due: gofmt-vet

Integrate notification domain layer with TUI service
  internal/notification/converter.go
  internal/notification/converter_test.go
  internal/storage/domain_repository_adapter.go
  internal/storage/domain_repository_adapter_test.go
  internal/tui/service/notification_service.go
Due: gofmt-vet

refactor(tui): extract delegation services from Model
  internal/tui/state/model.go
  internal/tui/state/notification_service.go
  internal/tui/state/notification_service_test.go
  internal/tui/state/settings_service.go
  internal/tui/state/tree_service.go
  internal/tui/state/tree_service_test.go
Due: gofmt-vet

fix(test): improve test isolation in jump command tests
  cmd/tmux-intray/jump_test.go
Due: gofmt-vet

refactor(tui): move tree state ownership to TreeService (#142)
  internal/tui/model/tree_service.go
  internal/tui/service/tree_service.go
  internal/tui/service/tree_service_test.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
Due: gofmt-vet

refactor(tui): complete model delegation to services
  internal/tui/model/notification_service.go
  internal/tui/model/tree_service.go
  internal/tui/service/notification_service.go
  internal/tui/service/tree_service.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix: restore post-merge build with runtime coordinator and tree service fixes
  internal/tui/state/model_test.go
  internal/tui/state/runtime_coordinator.go
  internal/tui/state/tree_service.go
Due: gofmt-vet

refactor: migrate tmux name resolution to RuntimeCoordinator (#143)
  internal/tui/state/model_integration_test.go
Due: gofmt-vet

test(runtime): add comprehensive coverage for runtime coordinator error paths
  internal/tui/state/runtime_coordinator_test.go
Due: gofmt-vet

Integrate notification domain layer with TUI service (#146)
  internal/notification/converter.go
  internal/notification/converter_test.go
  internal/storage/domain_repository_adapter.go
  internal/storage/domain_repository_adapter_test.go
  internal/tui/model/tree_service.go
  internal/tui/service/notification_service.go
  internal/tui/service/tree_service.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
Due: gofmt-vet

fix(test): isolate jump optimized retrieval storage state (#145)
  cmd/tmux-intray/jump_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
  internal/tui/state/notification_service.go
  internal/tui/state/notification_service_test.go
  internal/tui/state/runtime_coordinator.go
  internal/tui/state/runtime_coordinator_test.go
  internal/tui/state/settings_service.go
  internal/tui/state/tree_service.go
  internal/tui/state/tree_service_test.go
Due: gofmt-vet

Refactor config validation to reduce cognitive complexity
  internal/config/config.go
Due: gofmt-vet
