Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: bats, gofmt-vet

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: Go fmt/vet
  entry: bash -c './scripts/go-pre-commit.sh "$@"' --
  language: system

fix: Copy formula file before changing directory in CI
  .github/workflows/ci.yml
Due: none

fix: Use head version for Homebrew formula testing in CI
  .github/workflows/ci.yml
Due: none

fix: Remove article from formula description for brew audit
  .github/workflows/ci.yml
  Formula/tmux-intray.rb
Due: none

fix: Uninstall formula before untapping in CI
  .github/workflows/ci.yml
Due: none

chore: adds new agents.md file for agent instructions
  AGENTS.md
Due: none

docs(dev): update project structure and architecture documentation
  AGENTS.md
  DEVELOPMENT.md
Due: none

refactor: move legacy Bash files to legacy/ directory after Go migration
  docs/implementation/tmux-intray-implementation-comparison.md
  legacy/config.sh
  legacy/hooks.sh
  lib/storage.sh
  scripts/status-panel.sh
  tests/hooks.bats
Due: bats

chore(ci): remove Homebrew formula and related CI steps
  .github/workflows/ci.yml
  .github/workflows/release.yml
  DEVELOPMENT.md
  Formula/tmux-intray.rb
  Makefile
  README.md
  docs/architecture/go-wrapper-architecture.md
  docs/ci-cd.md
  docs/cli-go-migration-roadmap.md
  docs/testing/testing-strategy.md
  docs/troubleshooting.md
Due: none

chore: remove hometap and add agents docs (#9)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  AGENTS.md
  DEVELOPMENT.md
  Formula/tmux-intray.rb
  Makefile
  README.md
  docs/architecture/go-wrapper-architecture.md
  docs/ci-cd.md
  docs/cli-go-migration-roadmap.md
  docs/testing/testing-strategy.md
  docs/troubleshooting.md
Due: none

refactor: move legacy Bash files to legacy/ directory after Go migration (#10)
  docs/implementation/tmux-intray-implementation-comparison.md
  legacy/config.sh
  legacy/hooks.sh
  lib/storage.sh
  scripts/status-panel.sh
  tests/hooks.bats
Due: bats

chore: clean up docs after migration
  README.md
  docs/architecture/go-wrapper-architecture.md
  docs/checkpoint-2026-01-31.md
  docs/cli-go-migration-roadmap.md
  docs/cli-go-migration-testing-strategy.md
  docs/design/package-structure-decision.md
  docs/hook-migration-guide.md
  docs/implementation/go-migration-task-report.md
  docs/implementation/go-package-design.md
  docs/implementation/tmux-intray-cli-feature-design.md
  docs/implementation/tmux-intray-implementation-comparison.md
  docs/implementation/tmux-intray-implementation-plan.md
  docs/sytem-design/01-problem-statement.md
  docs/sytem-design/02-user-stories.md
  docs/sytem-design/03-functional-requirements.md
  docs/sytem-design/04-storage-design.md
  docs/sytem-design/05-bash-implementation-notes.md
  docs/sytem-design/README.md
  docs/testing/golden-test-design.md
  docs/testing/testing-strategy.md
  verification-report.md
Due: none

feat(ci-cd): move docs generation after build
  .github/workflows/release.yml
Due: none

fix: install from local module path
  Makefile
Due: none

fix(jump): correct pane reference format and add comprehensive tests
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  internal/core/tmux.go
  internal/core/tmux_test.go
  tests/commands/jump.bats
Due: bats, gofmt-vet

feat: add tmux context capture to OpenCode plugin
  opencode/plugins/opencode-tmux-intray.js
Due: none

fix(opencode): implement context caching and improve error messages
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/test-plugin.js
Due: gofmt-vet

refactor(opencode): simplify plugin to use CLI auto-detection
  opencode/plugins/opencode-tmux-intray.js
Due: none

test(opencode): update tests for simplified plugin design
  opencode/plugins/opencode-tmux-intray/tests/test-plugin.js
Due: none

feat(opencode): capture and pass tmux context flags to CLI
  opencode/plugins/opencode-tmux-intray.js
Due: none

feat(opencode): fix binary discovery and add integration tests
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/integration.test.js
Due: none

fix: correct GetCurrentTmuxContext() to parse 4-part format string
  internal/core/tmux.go
  internal/core/tmux_test.go
Due: gofmt-vet

feat(opencode): enhance logging to /tmp/opencode-tmux-intray.log
  opencode/plugins/opencode-tmux-intray.js
Due: none

feat: add version with git commit hash to CLI
  Makefile
  cmd/tmux-intray/version.go
  cmd/tmux-intray/version_test.go
  internal/version/version.go
  internal/version/version_test.go
Due: gofmt-vet

fix: prevent shell variable expansion and improve CLI resilience
  cmd/tmux-intray/add.go
  internal/core/core.go
  opencode/plugins/opencode-tmux-intray.js
Due: gofmt-vet

fix: use execFileAsync in context capture functions
  opencode/plugins/opencode-tmux-intray.js
Due: none

test: add unit tests for context capture functions
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture-demo.test.js
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture.test.js
Due: none

fix: improve pane selection and add detailed debug logging
  cmd/tmux-intray/jump.go
  internal/core/tmux.go
Due: gofmt-vet

fix: use correct tmux pane selection format (session:window.pane)
  internal/core/tmux.go
  internal/core/tmux_test.go
Due: gofmt-vet

feat: move ID to end of list output for easier copying
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

refactor: improve root command handling with cobra.Find
  cmd/root.go
Due: gofmt-vet

fix: optimize list output column widths to fit terminal
  cmd/tmux-intray/list.go
Due: gofmt-vet

feat: add simple default list format (ID DATE - Message)
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

fix: remove redundant timestamp formatting from messages
  cmd/tmux-intray/add.go
Due: gofmt-vet

fix: pass environment variables to child processes in plugin
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/tests/integration.test.js
Due: none

test: update unit test mocks for 4-parameter execFile calls
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture.test.js
Due: none

test: add env parameter assertions to execFile call expectations
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture.test.js
Due: none

tests: remove invalid config tests
  opencode/plugins/opencode-tmux-intray/config-loader.js
  opencode/plugins/opencode-tmux-intray/tests/test-plugin.js
Due: none

chore(ci): disable plugin tests for now
  .github/workflows/ci.yml
Due: none

Path conditions:
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
