Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

Update todo plans (#406)
  plans/todo/list-human-readable-names-by-default.md
  plans/todo/split-concerns-cli-tui-shared-business-logic.md
Due: none

chore: move completed recents/all plan to plans/done
  docs/plans/done/recents-all-and-jump-navigation-breakdown.md
Due: none

refactor(list): keep notification loading typed internally
  internal/app/list.go
  internal/app/list_test.go
  internal/core/core.go
  internal/tui/controller/interaction_controller.go
  internal/tui/controller/interaction_controller_test.go
Due: gofmt-vet

style: format merged Go files
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_render.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

refactor(list): keep notification loading typed internally (#408)
  internal/app/list.go
  internal/app/list_test.go
  internal/core/core.go
  internal/tui/controller/interaction_controller.go
  internal/tui/controller/interaction_controller_test.go
  internal/tui/state/model.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_render.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

docs: update package structure and architecture docs to match current codebase
  DEVELOPMENT.md
  docs/design/go-package-structure.md
  docs/design/import-layering-map.md
  docs/design/tui/tui-guidelines.md
Due: none

chore: clean up plan files
  docs/plans/done/split-concerns-cli-tui-shared-business-logic.md
  docs/plans/recents-all-and-jump-navigation-breakdown.md
Due: none

docs: update package structure and architecture docs (#409)
  DEVELOPMENT.md
  docs/design/go-package-structure.md
  docs/design/import-layering-map.md
  docs/design/tui/tui-guidelines.md
  docs/plans/done/split-concerns-cli-tui-shared-business-logic.md
  docs/plans/recents-all-and-jump-navigation-breakdown.md
Due: none

fix: resolve installation doc issues and stale version numbers
  README.md
  flake.nix
  package.json
  tmux-intray.tmux
Due: shfmt-check

fix: regenerate man page and CLI reference with corrected generator script
  docs/cli/CLI_REFERENCE.md
  man/man1/tmux-intray.1
  scripts/generate-docs.sh
Due: shfmt-check

fix: installation docs, stale versions, and man page regeneration (#410)
  README.md
  docs/cli/CLI_REFERENCE.md
  flake.nix
  man/man1/tmux-intray.1
  package.json
  scripts/generate-docs.sh
  tmux-intray.tmux
Due: shfmt-check

refactor: unify data flow with ListNotificationValues, remove TSV parsing from CLI and TUI paths
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/deps_test.go
  internal/core/core.go
  internal/domain/query_test.go
  internal/domain/repository.go
  internal/ports/ports.go
  internal/storage/domain_repository_adapter.go
  internal/storage/domain_repository_adapter_test.go
  internal/storage/interface.go
  internal/storage/sqlite/storage.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tui/controller/interaction_controller.go
  internal/tui/controller/interaction_controller_test.go
Due: gofmt-vet

docs: add package-level agent guidance
  AGENTS.md
  cmd/tmux-intray/AGENTS.md
  internal/AGENTS.md
  internal/app/AGENTS.md
  internal/config/AGENTS.md
  internal/core/AGENTS.md
  internal/domain/AGENTS.md
  internal/format/AGENTS.md
  internal/formatter/AGENTS.md
  internal/hooks/AGENTS.md
  internal/ports/AGENTS.md
  internal/search/AGENTS.md
  internal/settings/AGENTS.md
  internal/storage/AGENTS.md
  internal/storage/sqlite/AGENTS.md
  internal/tmux/AGENTS.md
  internal/tui/AGENTS.md
  internal/tui/app/AGENTS.md
  internal/tui/controller/AGENTS.md
  internal/tui/model/AGENTS.md
  internal/tui/render/AGENTS.md
  internal/tui/service/AGENTS.md
  internal/tui/state/AGENTS.md
Due: none

docs: add package-level agent guidance (#414)
  AGENTS.md
  DEVELOPMENT.md
  README.md
  cmd/tmux-intray/AGENTS.md
  docs/cli/CLI_REFERENCE.md
  docs/design/go-package-structure.md
  docs/design/import-layering-map.md
  docs/design/tui/tui-guidelines.md
  docs/plans/done/split-concerns-cli-tui-shared-business-logic.md
  docs/plans/recents-all-and-jump-navigation-breakdown.md
  flake.nix
  internal/AGENTS.md
  internal/app/AGENTS.md
  internal/config/AGENTS.md
  internal/core/AGENTS.md
  internal/domain/AGENTS.md
  internal/format/AGENTS.md
  internal/formatter/AGENTS.md
  internal/hooks/AGENTS.md
  internal/ports/AGENTS.md
  internal/search/AGENTS.md
  internal/settings/AGENTS.md
  internal/storage/AGENTS.md
  internal/storage/sqlite/AGENTS.md
  internal/tmux/AGENTS.md
  internal/tui/AGENTS.md
  internal/tui/app/AGENTS.md
  internal/tui/controller/AGENTS.md
  internal/tui/model/AGENTS.md
  internal/tui/render/AGENTS.md
  internal/tui/service/AGENTS.md
  internal/tui/state/AGENTS.md
  man/man1/tmux-intray.1
  package.json
  scripts/generate-docs.sh
  tmux-intray.tmux
Due: shfmt-check

docs: add package-level agent guidance (#415)
  AGENTS.md
  cmd/tmux-intray/AGENTS.md
  internal/AGENTS.md
  internal/app/AGENTS.md
  internal/config/AGENTS.md
  internal/core/AGENTS.md
  internal/domain/AGENTS.md
  internal/format/AGENTS.md
  internal/formatter/AGENTS.md
  internal/hooks/AGENTS.md
  internal/ports/AGENTS.md
  internal/search/AGENTS.md
  internal/settings/AGENTS.md
  internal/storage/AGENTS.md
  internal/storage/sqlite/AGENTS.md
  internal/tmux/AGENTS.md
  internal/tui/AGENTS.md
  internal/tui/app/AGENTS.md
  internal/tui/controller/AGENTS.md
  internal/tui/model/AGENTS.md
  internal/tui/render/AGENTS.md
  internal/tui/service/AGENTS.md
  internal/tui/state/AGENTS.md
Due: none

fix(pi): stop reporting tool errors to intray
  pi/agent/extensions/tmux-intray/README.md
  pi/agent/extensions/tmux-intray/index.test.ts
  pi/agent/extensions/tmux-intray/index.ts
Due: none

fix(pi): ignore bash tool errors in intray
  pi/agent/extensions/tmux-intray/README.md
  pi/agent/extensions/tmux-intray/index.test.ts
  pi/agent/extensions/tmux-intray/index.ts
Due: none

fix(pi): ignore bash tool errors in intray (#417)
  pi/agent/extensions/tmux-intray/README.md
  pi/agent/extensions/tmux-intray/index.test.ts
  pi/agent/extensions/tmux-intray/index.ts
Due: none

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
