Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

feat(poc): add message deduplication (3 messages per pane)
  internal/tui/service/tree_service.go
Due: gofmt-vet

refactor(tree): extract finalizeTree helper from BuildTree
  internal/tui/service/tree_service.go
Due: gofmt-vet

refactor(tree): extract processNotifications helper from BuildTree
  internal/tui/service/tree_service.go
Due: gofmt-vet

fix(tui): prevent structured JSON logs from interfering with TUI display
  cmd/root.go
  cmd/tmux-intray/main.go
  internal/colors/structured.go
  internal/logging/structured.go
Due: gofmt-vet

feat(poc): add message deduplication (3 messages per pane) (#290)
  internal/tui/service/tree_service.go
Due: gofmt-vet

fix(tui): prevent structured JSON logs from interfering with TUI display (#291)
  cmd/root.go
  cmd/tmux-intray/main.go
  internal/colors/structured.go
  internal/logging/structured.go
Due: gofmt-vet

chore(lint): add depguard rules for import dependencies
  .golangci.yml
Due: none

chore(architecture): establish import graph baseline and layering map
  .gitignore
  Makefile
  docs/design/import-graph-baseline.tsv
  docs/design/import-layering-map.md
  scripts/generate-import-graph.sh
Due: shfmt-check

chore(architecture): introduce ports for core dependency boundaries
  cmd/tmux-intray/status-panel-core.go
  internal/core/core.go
  internal/core/jump.go
  internal/core/tmux.go
  internal/ports/ports.go
  internal/status/status.go
  internal/storage/sqlite/tmux.go
  internal/tmux/client.go
Due: gofmt-vet

chore(core): inject settings store and centralize notification parsing
  internal/core/core.go
  internal/core/core_test.go
  internal/core/tmux.go
Due: gofmt-vet

wro2.1: baseline import graph and layering map (#292)
  .gitignore
  Makefile
  docs/design/import-graph-baseline.tsv
  docs/design/import-layering-map.md
  scripts/generate-import-graph.sh
Due: shfmt-check

wro2.2: introduce internal ports for core dependencies (#293)
  cmd/tmux-intray/status-panel-core.go
  internal/core/core.go
  internal/core/jump.go
  internal/core/tmux.go
  internal/ports/ports.go
  internal/status/status.go
  internal/storage/sqlite/tmux.go
  internal/tmux/client.go
Due: gofmt-vet

wro2.3: refactor core to ports-based DI (#294)
  internal/core/core.go
  internal/core/core_test.go
  internal/core/tmux.go
Due: gofmt-vet

wro2.6: decouple sqlite status publisher from tmux
  internal/storage/factory.go
  internal/storage/sqlite/storage_test.go
  internal/storage/sqlite/tmux.go
Due: gofmt-vet

wro2.9: add dependency deny-rules guard for import layering
  Makefile
  docs/design/import-layering-map.md
  scripts/check-import-deny-rules.sh
Due: shfmt-check

wro2.6: decouple sqlite storage from tmux (#295)
  internal/storage/factory.go
  internal/storage/sqlite/storage_test.go
  internal/storage/sqlite/tmux.go
Due: gofmt-vet

wro2.9: add dependency deny-rules checker (#296)
  Makefile
  docs/design/import-layering-map.md
  scripts/check-import-deny-rules.sh
Due: shfmt-check

Introduce internal/app use-cases for add/list/dismiss/clear/mark-read (#297)
  .golangci.yml
Due: none

wro2.7: split TUI interactions out of state layer
  internal/tui/controller/interaction_controller.go
  internal/tui/model/controller.go
  internal/tui/state/model.go
  internal/tui/state/model_actions.go
  internal/tui/state/model_notifications.go
  internal/tui/state/notification_service.go
  internal/tui/state/notification_service_test.go
  internal/tui/state/runtime_coordinator.go
  internal/tui/state/runtime_coordinator_test.go
Due: gofmt-vet

wro2.8: route tui command through app adapter
  cmd/tmux-intray/tui.go
  internal/tui/app/client.go
Due: gofmt-vet

wro2.7: split TUI state and interaction controller (#298)
  internal/tui/controller/interaction_controller.go
  internal/tui/model/controller.go
  internal/tui/state/model.go
  internal/tui/state/model_actions.go
  internal/tui/state/model_notifications.go
  internal/tui/state/notification_service.go
  internal/tui/state/notification_service_test.go
  internal/tui/state/runtime_coordinator.go
  internal/tui/state/runtime_coordinator_test.go
Due: gofmt-vet

wro2.8: route TUI dependencies through app adapter (#299)
  cmd/tmux-intray/tui.go
  internal/tui/app/client.go
Due: gofmt-vet

wro2.10: enforce dependency guardrails in CI and docs
  .github/workflows/ci.yml
  Makefile
  docs/ci-cd.md
  docs/design/import-layering-map.md
Due: none

wro2.10: integrate dependency guardrails into CI and docs (#300)
  .github/workflows/ci.yml
  Makefile
  docs/ci-cd.md
  docs/design/import-layering-map.md
Due: none

chore(hooks): add dependency guardrails to pre-commit
  .pre-commit-config.yaml
Due: none

chore: enforce dependency guardrails in pre-commit (#301)
  .pre-commit-config.yaml
Due: none

docs(architecture): add Mermaid layering map for communication clarity
  docs/design/import-layering-map.md
Due: none

docs: add Mermaid architecture overview (#302)
  docs/design/import-layering-map.md
Due: none

refactor(tui): reduce tree and selection complexity for lint compliance
  internal/tui/service/tree_service.go
  internal/tui/state/model_actions.go
Due: gofmt-vet

fix: make structured logs debug-only by default
  internal/storage/init.go
Due: gofmt-vet

fix: make structured logs debug-only by default
  internal/colors/structured.go
Due: gofmt-vet

fix: make structured logs debug-only by default
  internal/logging/structured.go
Due: gofmt-vet

fix: make structured logs debug-only by default
  cmd/root.go
Due: gofmt-vet

fix: make structured logs debug-only by default
  cmd/tmux-intray/main.go
Due: gofmt-vet

fix: make structured logs debug-only by default
  cmd/root.go
  cmd/tmux-intray/main.go
  internal/colors/structured.go
  internal/logging/structured.go
  internal/storage/init.go
Due: gofmt-vet

test: cover debug-gated structured logs and startup path
  cmd/tmux-intray/main.go
  cmd/tmux-intray/main_test.go
  internal/colors/structured_test.go
  internal/logging/structured_test.go
Due: gofmt-vet

fix: make structured logs debug-only by default (#304)
  cmd/root.go
  cmd/tmux-intray/main.go
  cmd/tmux-intray/main_test.go
  internal/colors/structured.go
  internal/colors/structured_test.go
  internal/logging/structured.go
  internal/logging/structured_test.go
  internal/storage/init.go
Due: gofmt-vet

feat: add pane_message groupBy mode for unique messages per pane (#286)
  docs/configuration.md
  internal/settings/constants.go
  internal/settings/manager.go
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/settings/validation.go
  internal/tui/model/tree_service.go
  internal/tui/model/ui_state.go
  internal/tui/service/tree_service.go
  internal/tui/service/tree_service_test.go
  internal/tui/state/model_actions.go
  internal/tui/state/tree.go
  internal/tui/state/tree_service.go
  internal/tui/state/tree_test.go
Due: gofmt-vet

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
