Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5120']
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bats)$
        exclude: ^tests/
        args: ["-e", "SC2034", "-e", "SC1091"]
  - repo: local
    hooks:
      - id: shfmt-check
        name: shfmt check
        entry: shfmt -d
        language: system
        files: \.(sh|bats|tmux)$
        exclude: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
        pass_filenames: true
      - id: bats
        name: Bats
        entry: bats
        language: system
        files: ^tests/.*\.bats$
      - id: gofmt-vet
        name: gofmt+vet
        entry: scripts/go-pre-commit.sh
        language: system
        files: \.go$

fix: snake_case TOML tags for settings (#262)
  internal/settings/constants.go
  internal/settings/settings.go
  internal/settings/settings_test.go
Due: gofmt-vet

refactor(tmux): split client.go into 5 focused files
  internal/tmux/client.go
  internal/tmux/context.go
  internal/tmux/environment.go
  internal/tmux/lists.go
  internal/tmux/navigation.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

refactor(status-panel): split into core, cmd, and legacy files (#263)
  cmd/tmux-intray/status-panel-cmd.go
  cmd/tmux-intray/status-panel-core.go
  cmd/tmux-intray/status-panel-legacy.go
  cmd/tmux-intray/status-panel.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

refactor(tmux): split client.go into 5 focused files (#265)
  internal/tmux/client.go
  internal/tmux/context.go
  internal/tmux/environment.go
  internal/tmux/lists.go
  internal/tmux/navigation.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

refactor(status-panel): move core logic to internal/status package
  cmd/tmux-intray/status-panel-cmd.go
  cmd/tmux-intray/status-panel-legacy.go
  cmd/tmux-intray/status_panel_test.go
  internal/status/status.go
  internal/status/status_test.go
Due: gofmt-vet

refactor(tui/state): split model_keys.go into 5 focused files
  internal/tui/state/messages.go
  internal/tui/state/model_actions.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_movement.go
  internal/tui/state/model_settings.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

refactor(status-panel): split and move core logic to internal/status (#266)
  cmd/tmux-intray/status-panel-cmd.go
  cmd/tmux-intray/status-panel-legacy.go
  cmd/tmux-intray/status_panel_test.go
  internal/status/status.go
  internal/status/status_test.go
Due: gofmt-vet

fix(tui/state): add missing ? key handler to toggle ShowHelp
  internal/tui/state/model_keys_core.go
Due: gofmt-vet

chore(lint): remove refactored files from exclude list
  scripts/lint.sh
Due: shfmt-check

chore(lint): remove file exclusions - enforce standards on all files
  scripts/lint.sh
Due: shfmt-check

refactor(tui/state): split model_keys.go into 5 focused files (#267)
  internal/tmux/client.go
  internal/tmux/context.go
  internal/tmux/environment.go
  internal/tmux/lists.go
  internal/tmux/navigation.go
  internal/tui/state/messages.go
  internal/tui/state/model_actions.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_movement.go
  internal/tui/state/model_settings.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

test(tui/state,tmux): add comprehensive tests for refactored files
  internal/tmux/client_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

tests: add comprehensive tests for refactored files (#268)
  internal/tmux/client_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(logging): add structured logging with file rotation and redaction
  cmd/root.go
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/logging.md
  docs/troubleshooting.md
  go.mod
  go.sum
  internal/colors/colors.go
  internal/colors/colors_test.go
  internal/config/config.go
  internal/config/validators.go
  internal/logging/config.go
  internal/logging/logger.go
  internal/logging/logging_test.go
  internal/logging/redactor.go
  internal/logging/rotation.go
Due: gofmt-vet

feat(logging): config and dependencies for logging feature
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/troubleshooting.md
  go.mod
  go.sum
  internal/colors/colors.go
  internal/colors/colors_test.go
  internal/config/config.go
  internal/config/validators.go
Due: gofmt-vet

feat(logging): Configuration and dependencies (#270)
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/troubleshooting.md
  go.mod
  go.sum
  internal/colors/colors.go
  internal/colors/colors_test.go
  internal/config/config.go
  internal/config/validators.go
Due: gofmt-vet

chore(logs): add structured logs for critical paths
  cmd/root.go
  cmd/tmux-intray/main.go
  internal/colors/structured.go
  internal/storage/init.go
  internal/tmux/client.go
  internal/tmux/navigation.go
Due: gofmt-vet

chore(logs): add structured logs for critical paths (#279)
  cmd/root.go
  cmd/tmux-intray/main.go
  internal/colors/structured.go
  internal/storage/init.go
  internal/tmux/client.go
  internal/tmux/navigation.go
Due: gofmt-vet

fix(tui/state): render status messages by type
  internal/tui/state/model.go
  internal/tui/state/model_actions.go
  internal/tui/state/model_render.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(tui): don't render success messages as errors (#281)
  internal/tui/state/model.go
  internal/tui/state/model_actions.go
  internal/tui/state/model_render.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(tui): add search view mode (#209)
  cmd/tmux-intray/tui.go
  docs/configuration.md
  docs/design/tui/tui-guidelines.md
  internal/settings/constants.go
  internal/settings/validation.go
  internal/tui/model/ui_state.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_notifications.go
  internal/tui/state/model_test.go
  internal/tui/state/model_tree_view.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

chore(logging): add structured logging helpers
  internal/logging/structured.go
Due: gofmt-vet

refactor(jump): split jumpToNotificationInternal
  internal/core/jump.go
Due: gofmt-vet

refactor(jump): split jumpToNotificationInternal (#280)
  internal/core/jump.go
  internal/logging/structured.go
Due: gofmt-vet

feat(tui): add search view mode (#209) (#282)
  cmd/tmux-intray/tui.go
  docs/configuration.md
  docs/design/tui/tui-guidelines.md
  internal/settings/constants.go
  internal/settings/validation.go
  internal/tui/model/ui_state.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_notifications.go
  internal/tui/state/model_test.go
  internal/tui/state/model_tree_view.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

feat(settings): add configurable notification sorting (unread_first, sort_by, sort_order)
  internal/domain/sorting.go
  internal/domain/sorting_test.go
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/tui/service/notification_service.go
  internal/tui/state/model_notifications.go
Due: gofmt-vet

docs: add unread_first setting documentation
  docs/configuration.md
Due: none

feat(tui): add Ctrl+f search view shortcut and Enter jump
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_movement.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(tui): use / to enter search view
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(tui): add Ctrl+Enter jump on view (#285)
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_movement.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(settings): add configurable notification sorting (#284)
  docs/configuration.md
  internal/domain/sorting.go
  internal/domain/sorting_test.go
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/tui/service/notification_service.go
  internal/tui/state/model_notifications.go
Due: gofmt-vet

feat: add pane_message groupBy mode for unique messages per pane
  docs/configuration.md
  internal/settings/constants.go
  internal/settings/manager.go
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/settings/validation.go
  internal/tui/model/tree_service.go
  internal/tui/model/ui_state.go
  internal/tui/service/tree_service.go
  internal/tui/service/tree_service_test.go
  internal/tui/state/model_actions.go
  internal/tui/state/tree.go
  internal/tui/state/tree_service.go
  internal/tui/state/tree_test.go
Due: gofmt-vet

fix(tui): normalize key handling across search contexts
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

Fix Ctrl key behavior in all search contexts (#287)
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

chore: delete unused files
  TODO-tmux-intray-8b3i.md
Due: none

chore: delete unused files (#288)
  TODO-tmux-intray-8b3i.md
Due: none

refactor(docs): remove RELEASE_NOTES.md and update README.md
  README.md
  RELEASE_NOTES.md
Due: none

chore: delete unused files (#289)
  README.md
  RELEASE_NOTES.md
Due: none
