Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5120']
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bats)$
        exclude: ^tests/
        args: ["-e", "SC2034", "-e", "SC1091"]
  - repo: local
    hooks:
      - id: shfmt-check
        name: shfmt check
        entry: shfmt -d
        language: system
        files: \.(sh|bats|tmux)$
        exclude: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
        pass_filenames: true
      - id: bats
        name: Bats
        entry: bats
        language: system
        files: ^tests/.*\.bats$
      - id: gofmt-vet
        name: gofmt+vet
        entry: scripts/go-pre-commit.sh
        language: system
        files: \.go$

fix(hooks): prevent goroutine leaks in async hooks
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
Due: gofmt-vet

feat(tui): optimize session name fetching with batch lookup
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
Due: gofmt-vet

refactor(tui): restructure column layout with better alignment
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
Due: gofmt-vet

feat(cli): add settings command with reset and show subcommands
  cmd/tmux-intray/settings.go
  cmd/tmux-intray/settings_test.go
Due: gofmt-vet

feat(tui): add settings manager for TUI preferences
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
  internal/settings/manager.go
  internal/settings/manager_test.go
Due: gofmt-vet

docs: add comprehensive TUI settings persistence documentation
  README.md
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
Due: none

feat(settings): complete storage implementation with atomic writes and locking
  internal/settings/settings.go
  internal/settings/settings_test.go
Due: gofmt-vet

feat(tui): integrate settings lifecycle for automatic save and load
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
Due: gofmt-vet

feat(settings): add TUI user preferences persistence
  internal/settings/README.md
  internal/settings/settings.go
  internal/settings/settings_test.go
Due: gofmt-vet

fix: resolve merge conflicts in storage.go and integrate tmux status update fix
  internal/storage/storage.go
Due: gofmt-vet

fix: error handling, resource cleanup, and legacy code removal
  internal/storage/init_test.go
  internal/storage/notification_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  legacy/config.sh
  legacy/hooks.sh
  tests/hooks-integration.bats
  tests/hooks.bats
Due: shfmt-check, bats, gofmt-vet

Fix async hook race condition causing negative WaitGroup counter
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
Due: gofmt-vet

feat(config): add type validation for config values
  internal/config/config.go
  internal/config/config_test.go
Due: gofmt-vet

fix: silent command execution failures in updateTmuxStatusOption() (#14)
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
Due: gofmt-vet

feat(config): add type validation for config values (#18)
  internal/config/config.go
  internal/config/config_test.go
Due: gofmt-vet

fix(storage): add input validation and safe field access
  cmd/tmux-intray/add.go
  cmd/tmux-intray/jump_test.go
  cmd/tmux-intray/tui_test.go
  integration/cmd/follow_integration_test.go
  internal/core/core.go
  internal/core/core_test.go
  internal/storage/notification_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
  internal/tmuxintray/tmuxintray_test.go
Due: gofmt-vet

docs(tui): add TUI guidelines and resilience standards
  docs/design/tui/tui-guidelines.md
Due: none

docs(tui): add TUI guidelines and resilience standards (#21)
  docs/design/tui/tui-guidelines.md
Due: none

refactor: extract notification and TUI code into dedicated packages
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
  internal/notification/notification.go
  internal/notification/notification_test.go
  internal/tui/render/render.go
  internal/tui/state/model.go
Due: gofmt-vet

fix(storage): add input validation and safe field access (#20)
  cmd/tmux-intray/add.go
  cmd/tmux-intray/jump_test.go
  cmd/tmux-intray/tui_test.go
  integration/cmd/follow_integration_test.go
  internal/core/core.go
  internal/core/core_test.go
  internal/storage/notification_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
  internal/tmuxintray/tmuxintray_test.go
Due: gofmt-vet

docs(tui): add testing guidelines and patterns for TUI development
  docs/design/tui/tui-guidelines.md
Due: none

docs(tui): add testing guidelines and patterns for TUI development (#22)
  docs/design/tui/tui-guidelines.md
Due: none

refactor(tui): move tests to dedicated TUI packages
  cmd/tmux-intray/tui_test.go
  internal/tui/render/render_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

docs(hooks): add notification hook examples and documentation
  docs/hooks.md
  examples/hooks/README.md
  examples/hooks/pre-add/01-log.sh
  examples/hooks/pre-add/02-macos-notification.sh
  examples/hooks/pre-add/03-tmux-status-bar.sh
  examples/hooks/pre-add/04-linux-notification.sh
  examples/hooks/pre-add/05-macos-sound.sh
  examples/hooks/pre-add/06-linux-sound.sh
Due: shfmt-check

docs(hooks): add notification hook examples and documentation (#23)
  docs/hooks.md
  examples/hooks/README.md
  examples/hooks/pre-add/01-log.sh
  examples/hooks/pre-add/02-macos-notification.sh
  examples/hooks/pre-add/03-tmux-status-bar.sh
  examples/hooks/pre-add/04-linux-notification.sh
  examples/hooks/pre-add/05-macos-sound.sh
  examples/hooks/pre-add/06-linux-sound.sh
Due: shfmt-check

fix(config): ensure environment variables override config file values
  internal/config/config.go
  internal/config/config_test.go
Due: gofmt-vet

feat(hooks): add local hooks design document
  docs/design/local-hooks.md
Due: none

feat(hooks): add local hooks design document (#25)
  docs/design/local-hooks.md
Due: none

refactor: extract notification and TUI code into dedicated packages (#24)
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/tui.go
  cmd/tmux-intray/tui_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/notification/notification.go
  internal/notification/notification_test.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet
