Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

fix: jump switch session when ran from another (#61)
  internal/core/tmux.go
  internal/core/tmux_test.go
  internal/tmux/client.go
  internal/tmuxintray/tmuxintray.go
  internal/tmuxintray/tmuxintray_test.go
  internal/tui/state/model.go
  tests/commands/jump.bats
Due: shfmt-check, bats, gofmt-vet

feat(tui): add expand/collapse controls for grouped view navigation (#59)
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(tui): add za keybinding to toggle fold in grouped view (#62)
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat: add read_timestamp field and mark read/unread functionality
  internal/core/core.go
  internal/notification/notification.go
  internal/notification/notification_test.go
  internal/storage/bounds_test.go
  internal/storage/notification_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
Due: gofmt-vet

chore: add beads workflow integration to AGENTS.md
  AGENTS.md
Due: none

chore: add beads workflow integration to AGENTS.md (#63)
  AGENTS.md
Due: none

test: add mock client assertion to core and tmux tests
  internal/core/core_test.go
  internal/core/tmux_test.go
Due: gofmt-vet

feat: add read_timestamp field and mark read/unread functionality (#64)
  internal/core/core.go
  internal/notification/notification.go
  internal/notification/notification_test.go
  internal/storage/bounds_test.go
  internal/storage/notification_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
Due: gofmt-vet

feat: add notification read status methods and parsing improvements
  internal/notification/notification.go
  internal/notification/notification_test.go
  internal/tmuxintray/tmuxintray.go
  internal/tmuxintray/tmuxintray_test.go
Due: gofmt-vet

Squashed commit of the following:
  AGENTS.md
  internal/core/core.go
  internal/notification/notification.go
  internal/notification/notification_test.go
  internal/storage/bounds_test.go
  internal/storage/notification_test.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

test: add mock client assertion to core and tmux tests (#65)
  internal/core/core_test.go
  internal/core/tmux_test.go
Due: gofmt-vet

fix(tests): improve tmux readiness detection in hooks integration tests
  tests/hooks-integration.bats
Due: shfmt-check, bats

feat(tui): add read status indicator to notification rows
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

chore: sync agent docs and assert tmux mocks
  AGENTS.md
  internal/core/core_test.go
  internal/core/tmux_test.go
Due: gofmt-vet

feat: Added read/unread status indicators in TUI rows with tests (#68)
  internal/notification/notification.go
  internal/notification/notification_test.go
  internal/tmuxintray/tmuxintray.go
  internal/tmuxintray/tmuxintray_test.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_test.go
  tests/hooks-integration.bats
Due: shfmt-check, bats, gofmt-vet

feat(tui): add read/unread keybindings and search filtering
  cmd/tmux-intray/tui.go
  internal/tui/render/render.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat: add notification read status methods and parsing improvements
  internal/notification/notification.go
Due: gofmt-vet

refactor: consolidate field constants in storage package
  cmd/tmux-intray/jump.go
  internal/core/core.go
  internal/storage/fields.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
Due: gofmt-vet

refactor: standardize error message format
  DEVELOPMENT.md
  cmd/tmux-intray/add.go
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  cmd/tmux-intray/toggle.go
  internal/core/core.go
  internal/core/jump.go
  internal/core/jump_test.go
  internal/core/tmux.go
  internal/storage/lock.go
  internal/storage/storage.go
  internal/tui/state/model.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

chore: sync agent docs and assert tmux mocks (#67)
  internal/notification/notification.go
Due: gofmt-vet

feat: Add read status tracking to the TUI Model struct (#69)
  cmd/tmux-intray/tui.go
  internal/notification/notification.go
  internal/tui/render/render.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor: Field constants in storage.go, check for duplication elsewhere. (#70)
  cmd/tmux-intray/jump.go
  internal/core/core.go
  internal/storage/fields.go
  internal/storage/storage.go
  internal/storage/storage_test.go
  internal/tmuxintray/tmuxintray.go
Due: gofmt-vet

refactor: consistent formatting (#71)
  DEVELOPMENT.md
  cmd/tmux-intray/add.go
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/jump_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  cmd/tmux-intray/toggle.go
  internal/core/core.go
  internal/core/jump.go
  internal/core/jump_test.go
  internal/core/tmux.go
  internal/storage/lock.go
  internal/storage/storage.go
  internal/tui/state/model.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

refactor: replace hardcoded file extensions with constants
  internal/config/config.go
  internal/settings/settings.go
  internal/storage/storage.go
Due: gofmt-vet

Add precondition comment to JumpToPane in tmux/client.go
  internal/tmux/client.go
Due: gofmt-vet

Add precondition comments to exported functions
  internal/core/tmux.go
  internal/settings/settings.go
  internal/storage/storage.go
  internal/tmuxintray/tmuxintray.go
Due: gofmt-vet

chore: documenting functions (#73)
  internal/config/config.go
  internal/core/tmux.go
  internal/settings/settings.go
  internal/storage/storage.go
  internal/tmux/client.go
  internal/tmuxintray/tmuxintray.go
Due: gofmt-vet

refactor: rename async variables to pendingHooks for clarity
  internal/hooks/hooks.go
Due: gofmt-vet

refactor: add storage interface and file_storage implementation
  internal/hooks/hooks.go
  internal/storage/file_storage.go
  internal/storage/interface.go
Due: gofmt-vet

chore(storage): remove backup test file
  internal/storage/storage_test.go.bak2
Due: none

refactor: rename async variables to pendingHooks for clarity (#74)
  internal/hooks/hooks.go
Due: gofmt-vet

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
