Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

feat(app): inject SettingsLoader in DefaultClient
  cmd/tmux-intray/tui.go
  internal/tui/app/client.go
  internal/tui/app/client_test.go
  internal/tui/app/interfaces.go
Due: gofmt-vet

test: Add comprehensive unit tests for DefaultClient with injected dependencies
  internal/tui/app/client_test.go
Due: gofmt-vet

fix(lint): apply gofmt formatting to internal/core/tmux.go
  internal/core/tmux.go
Due: gofmt-vet

refactor(cli): decouple composition root and follow tick handling (#338)
  cmd/tmux-intray/add.go
  cmd/tmux-intray/cleanup.go
  cmd/tmux-intray/clear.go
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/deps_test.go
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/follow_test.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/main.go
  cmd/tmux-intray/mark-read.go
  cmd/tmux-intray/settings.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/tui.go
  internal/tui/app/client.go
  internal/tui/app/client_test.go
  internal/tui/app/interfaces.go
Due: gofmt-vet

refactor(app): wire TUI dependencies in CLI composition root
  internal/tui/app/client_test.go
Due: gofmt-vet

fix(deps): update NewDefaultClient call to pass required parameters
  cmd/tmux-intray/deps.go
Due: gofmt-vet

refactor(core): remove singleton pattern and implement dependency injection (#339)
  internal/core/core_edge_cases_test.go
  internal/core/tmux.go
  internal/tmuxintray/tmuxintray.go
  internal/tui/app/client.go
  internal/tui/state/model_integration_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(lint): resolve golangci-lint issues for PR #341
  internal/tui/app/client_test.go
Due: gofmt-vet

feat(app): inject runtime dependencies in TUI client for testability (#333) (#341)
  cmd/tmux-intray/deps.go
  internal/tui/app/client.go
  internal/tui/app/client_test.go
  internal/tui/app/interfaces.go
Due: gofmt-vet

fix(recents): limit unread notifications to 3 per source
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
Due: gofmt-vet

test(recents): align state tests with unread-only behavior
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(recents): show unread-only and cap per-source messages (#342)
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(search): keep active view while searching and make Enter jump
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(tui): grouped slash search and Enter navigation (#343)
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor(core): split tmux runtime and navigation responsibilities (#329)
  internal/core/tmux.go
  internal/core/tmux_navigation.go
  internal/core/tmux_runtime.go
  internal/core/tmux_test.go
Due: gofmt-vet

refactor(cli): decouple deps composition root (#328)
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/deps_test.go
Due: gofmt-vet

Decouple composition root dependencies (#345)
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/deps_test.go
Due: gofmt-vet

refactor(core): split tmux runtime and navigation responsibilities (#344)
  internal/core/tmux.go
  internal/core/tmux_navigation.go
  internal/core/tmux_runtime.go
  internal/core/tmux_test.go
Due: gofmt-vet

fix(cli): centralize add message validation for consistent UX (#332)
  cmd/tmux-intray/add.go
  cmd/tmux-intray/add_test.go
  tests/cli.bats
  tests/commands/add.bats
Due: shfmt-check, bats, gofmt-vet

refactor: duplicate add validation by centralizing message checks (#346)
  cmd/tmux-intray/add.go
  cmd/tmux-intray/add_test.go
  tests/cli.bats
  tests/commands/add.bats
Due: shfmt-check, bats, gofmt-vet

test(tui): inject notification adapters for controller coverage (#335)
  internal/tui/controller/interaction_controller.go
  internal/tui/controller/interaction_controller_test.go
Due: gofmt-vet

test(coverage): close review-identified branch gaps (#347)
  internal/core/tmux_test.go
  internal/tui/controller/interaction_controller_test.go
Due: gofmt-vet

refactor: abstract interaction controller dependencies (#347)
  internal/core/tmux_test.go
  internal/tui/controller/interaction_controller.go
  internal/tui/controller/interaction_controller_test.go
Due: gofmt-vet

fix(settings): default to search mode when config is unset
  cmd/tmux-intray/settings_test.go
  internal/settings/manager_test.go
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

Improve TUI interaction defaults and decouple runtime dependencies (#348)
  cmd/tmux-intray/settings_test.go
  internal/settings/manager_test.go
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

chore: remove unused files
  PARALLEL_WORKSTREAMS.md
  PLAN_INDEX.md
  docs/templates/feature-template.md
  tools.go
Due: gofmt-vet

docs(config): align examples with snake_case schema
  docs/configuration.md
  internal/settings/README.md
Due: none

docs: normalize config examples to snake_case (#349)
  PARALLEL_WORKSTREAMS.md
  PLAN_INDEX.md
  docs/configuration.md
  docs/templates/feature-template.md
  internal/settings/README.md
  tools.go
Due: gofmt-vet

feat(docs): add keyboard shortcuts documentation
  docs/shortcuts.md
Due: none

docs: add complete keyboard shortcuts reference documentation (#350)
  docs/shortcuts.md
Due: none

chore(bindings): remove prefix+I follow binding
  tmux-intray.tmux
Due: shfmt-check

feat(tui): add Ctrl+1/Ctrl+2 tab navigation in search mode
  docs/shortcuts.md
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(tui): use Alt+1/Alt+2 for tab switching in search mode
  docs/shortcuts.md
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

chore: beads migration to dolt
  .beads/config.yaml
Due: none

chore: beads migration to dolt (#352)
  .beads/config.yaml
Due: none

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
