Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5120']
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bats)$
        exclude: ^tests/
        args: ["-e", "SC2034", "-e", "SC1091"]
  - repo: local
    hooks:
      - id: shfmt-check
        name: shfmt check
        entry: shfmt -d
        language: system
        files: \.(sh|bats|tmux)$
        exclude: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
        pass_filenames: true
      - id: bats
        name: Bats
        entry: bats
        language: system
        files: ^tests/.*\.bats$
      - id: gofmt-vet
        name: gofmt+vet
        entry: scripts/go-pre-commit.sh
        language: system
        files: \.go$

refactor(settings): migrate legacy view_mode=compact to detailed
  internal/settings/settings_test.go
  internal/settings/validation.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor(tui): remove compact mode from TUI cycle
  internal/settings/README.md
  internal/settings/settings.go
  internal/settings/validation.go
  internal/tui/model/ui_state.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

test(tui): update tests and docs for 3-mode view cycle
  cmd/tmux-intray/tui.go
  docs/configuration.md
  docs/design/tui/tui-guidelines.md
  docs/shortcuts.md
  internal/tui/state/model_test.go
Due: gofmt-vet

docs: update view mode cycle comment to reflect actual modes
  internal/tui/state/model_tree_view.go
Due: gofmt-vet

refactor(settings): migrate legacy view_mode=compact to detailed (#353)
  cmd/tmux-intray/tui.go
  docs/configuration.md
  docs/design/tui/tui-guidelines.md
  docs/shortcuts.md
  internal/settings/README.md
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/settings/validation.go
  internal/tui/model/ui_state.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
  internal/tui/state/model_tree_view.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

feat(config): add telemetry_enabled configuration option
  docs/configuration.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
Due: gofmt-vet

feat(telemetry): add telemetry_events table with indexes
  internal/storage/sqlite/schema.sql
Due: none

feat(telemetry): implement storage layer for telemetry events
  internal/storage/sqlite/errors.go
  internal/storage/sqlite/queries.sql
  internal/storage/sqlite/sqlcgen/db.go
  internal/storage/sqlite/sqlcgen/models.go
  internal/storage/sqlite/sqlcgen/queries.sql.go
  internal/storage/sqlite/telemetry.go
  internal/storage/sqlite/telemetry_test.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

feat(config): add telemetry_enabled configuration option (#354)
  docs/configuration.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
Due: gofmt-vet

feat(telemetry): add telemetry_events table with indexes (#355)
  internal/storage/sqlite/schema.sql
Due: none

feat(telemetry): implement storage layer for telemetry events (#356)
  internal/storage/sqlite/errors.go
  internal/storage/sqlite/queries.sql
  internal/storage/sqlite/sqlcgen/db.go
  internal/storage/sqlite/sqlcgen/models.go
  internal/storage/sqlite/sqlcgen/queries.sql.go
  internal/storage/sqlite/telemetry.go
  internal/storage/sqlite/telemetry_test.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

feat(telemetry): implement telemetry client API package
  internal/storage/domain_repository_adapter_test.go
  internal/storage/interface.go
  internal/telemetry/example_test.go
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

feat(telemetry): add telemetry CLI with show, export, clear, and status commands
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/telemetry.go
  cmd/tmux-intray/telemetry_test.go
  internal/ports/telemetry.go
  internal/storage/sqlite/telemetry.go
Due: gofmt-vet

feat(telemetry): implement telemetry client API package (#357)
  internal/storage/domain_repository_adapter_test.go
  internal/storage/interface.go
  internal/telemetry/example_test.go
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

docs(telemetry): add comprehensive telemetry documentation
  README.md
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/design/telemetry-architecture.md
  docs/privacy.md
Due: none

feat(telemetry): add telemetry CLI with show, export, clear, and status commands (#358)
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/telemetry.go
  cmd/tmux-intray/telemetry_test.go
  internal/ports/telemetry.go
  internal/storage/sqlite/telemetry.go
Due: gofmt-vet

docs(telemetry): add comprehensive telemetry documentation (#359)
  README.md
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/design/telemetry-architecture.md
  docs/privacy.md
Due: none

fix(recents): enforce 3-message per-source limit after filtering
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
Due: gofmt-vet

docs: update recents improvement design brief
  docs/design/recents-improvement-design-brief.md
Due: none

feat(recents): add 1-hour time-based filtering to Recents tab
  internal/domain/filters.go
  internal/domain/filters_test.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/model_coverage_regression_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(recents): implement per-session smart selection with severity-based prioritization
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
Due: gofmt-vet

feat(recents): implement per-session smart selection with severity-based filtering
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(recents): implement 10-item limit for filtered drill-down views
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/service/notification_service_test.go
Due: gofmt-vet

feat(config): add recents_time_window config for customizable Recents tab filtering
  docs/configuration.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/service/notification_service_test.go
Due: gofmt-vet

fix(tests,refactor): resolve failing tests and extract notification helpers
  internal/tui/service/notification_helpers.go
  internal/tui/service/notification_service.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(recents): add 1-hour time-based filtering to Recents tab (#361)
  internal/domain/filters.go
  internal/domain/filters_test.go
  internal/tui/service/notification_helpers.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/model_coverage_regression_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(telemetry): instrument config usage tracking for scope reduction analysis
  cmd/tmux-intray/cleanup.go
  cmd/tmux-intray/clear.go
  cmd/tmux-intray/telemetry_helper.go
  cmd/tmux-intray/telemetry_test.go
  docs/design/telemetry-performance.md
  internal/settings/settings.go
  internal/telemetry/config.go
  internal/telemetry/performance_test.go
  internal/telemetry/telemetry_bench_test.go
Due: gofmt-vet

feat(cli): instrument all CLI commands with telemetry
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/settings.go
  cmd/tmux-intray/telemetry_helper.go
  cmd/tmux-intray/tui.go
  internal/storage/sqlite/retention.go
  internal/storage/sqlite/telemetry_test.go
Due: gofmt-vet

test(telemetry): add missing interface methods to fake storage
  cmd/tmux-intray/telemetry_test.go
Due: gofmt-vet

feat(telemetry): add data retention policy with automatic cleanup
  cmd/tmux-intray/telemetry_test.go
  coverage-final.out
  internal/config/config.go
  internal/config/validators.go
  internal/ports/telemetry.go
  internal/storage/factory.go
  internal/storage/sqlite/retention.go
  internal/storage/sqlite/storage.go
  internal/storage/sqlite/telemetry.go
Due: gofmt-vet

refactor(service): consolidate notification methods after merge
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(recents): implement 10-item limit for filtered drill-down views (#363)
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(config): add recents_time_window config for customizable Recents tab filtering (#364)
  docs/configuration.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor: replace telemetry with simple logging
  README.md
  cmd/tmux-intray/deps.go
  cmd/tmux-intray/telemetry.go
  cmd/tmux-intray/telemetry_test.go
  docs/design/telemetry-architecture.md
  docs/privacy.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
  internal/log/log.go
  internal/ports/telemetry.go
  internal/storage/domain_repository_adapter_test.go
  internal/storage/interface.go
  internal/storage/sqlite/queries.sql
  internal/storage/sqlite/schema.sql
  internal/storage/sqlite/sqlcgen/db.go
  internal/storage/sqlite/sqlcgen/models.go
  internal/storage/sqlite/sqlcgen/queries.sql.go
  internal/storage/sqlite/telemetry.go
  internal/storage/sqlite/telemetry_test.go
  internal/telemetry/example_test.go
  internal/telemetry/telemetry.go
  internal/telemetry/telemetry_test.go
Due: gofmt-vet

docs: add comprehensive debugging guide and update logging documentation
  README.md
  docs/ci-cd.md
  docs/configuration.md
  docs/debugging.md
  docs/troubleshooting.md
Due: none

docs: remove remaining telemetry references and dead code
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  scripts/check-import-deny-rules.sh
Due: shfmt-check

refactor: completely remove telemetry from configuration layer
  docs/plans/recents-all-and-jump-navigation-breakdown.md
  docs/privacy.md
  internal/config/config.go
  internal/config/config_test.go
  internal/config/validators.go
Due: gofmt-vet
