Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

fix: restore app layer baseline and search/view behavior
  internal/app/add.go
  internal/app/cleanup.go
  internal/app/clear.go
  internal/app/dismiss.go
  internal/app/follow.go
  internal/app/jump.go
  internal/app/list.go
  internal/app/mark_read.go
  internal/app/settings.go
  internal/app/status.go
  internal/tui/state/model_test.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

fix: preserve view mode when starting search with /
  internal/tui/state/model_keys_core.go
Due: gofmt-vet

docs(ai): update AGENTS.md to remove outdated content
  AGENTS.md
Due: none

docs(ai): update AGENTS.md to remove outdated content (#307)
  AGENTS.md
Due: none

fix: search view-mode mutation and restore build baseline (#306)
  internal/app/add.go
  internal/app/cleanup.go
  internal/app/clear.go
  internal/app/dismiss.go
  internal/app/follow.go
  internal/app/jump.go
  internal/app/list.go
  internal/app/mark_read.go
  internal/app/settings.go
  internal/app/status.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

docs: plans for status format extension
  PARALLEL_WORKSTREAMS.md
  PLAN_INDEX.md
  docs/plans/status-format-extension.md
Due: none

bd sync: 2026-02-26 22:49:02
  .beads/issues.jsonl
  .beads/metadata.json
Due: none

feat(formatter): implement template engine with variable resolution and presets
  internal/formatter/presets.go
  internal/formatter/presets_test.go
  internal/formatter/template.go
  internal/formatter/template_test.go
  internal/formatter/variables.go
  internal/formatter/variables_test.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

feat(formatter): implement template engine with variable resolution and presets (#308)
  internal/formatter/presets.go
  internal/formatter/presets_test.go
  internal/formatter/template.go
  internal/formatter/template_test.go
  internal/formatter/variables.go
  internal/formatter/variables_test.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

refactor(status-panel): migrate to formatter backend for consistency
  cmd/tmux-intray/status.go
  internal/format/status.go
  internal/formatter/variables.go
  internal/formatter/variables_test.go
  internal/status/status.go
Due: gofmt-vet

test(status): add comprehensive integration and end-to-end tests
  tests/commands/status.bats
Due: shfmt-check, bats

feat(status): add --format flag for customizable output formatting
  cmd/tmux-intray/status_test.go
Due: gofmt-vet

feat(status): implement customizable status format with templates and presets (#309)
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  internal/format/status.go
  internal/formatter/variables.go
  internal/formatter/variables_test.go
  internal/status/status.go
  tests/commands/status.bats
Due: shfmt-check, bats, gofmt-vet

docs: D5 comprehensive status command documentation
  README.md
  cmd/tmux-intray/status.go
  docs/cli/CLI_REFERENCE.md
  docs/status-command-guide.md
Due: gofmt-vet

docs(status): comprehensive documentation for template-based status command (#310)
  README.md
  cmd/tmux-intray/status.go
  docs/cli/CLI_REFERENCE.md
  docs/status-command-guide.md
Due: gofmt-vet

test(status): add D4 integration and e2e coverage for format extension
  cmd/tmux-intray/status_test.go
  tests/commands/status.bats
Due: shfmt-check, bats, gofmt-vet

test(status): align D4 expectations with current status behavior
  cmd/tmux-intray/status_test.go
Due: gofmt-vet

Add D4 status format integration and E2E test coverage (#311)
  cmd/tmux-intray/status_test.go
Due: gofmt-vet

refactor(format-templates): migrate from ${var} to %{var} syntax
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  internal/formatter/presets.go
  internal/formatter/presets_test.go
  internal/formatter/template.go
  internal/formatter/template_test.go
Due: gofmt-vet

refactor(format-templates): migrate from dollar-var to percent-var syntax (#312)
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  internal/formatter/presets.go
  internal/formatter/presets_test.go
  internal/formatter/template.go
  internal/formatter/template_test.go
Due: gofmt-vet

chore(deprecation): remove deprecated status-panel command
  README.md
  cmd/tmux-intray/status-panel-cmd.go
  cmd/tmux-intray/status-panel-core.go
  cmd/tmux-intray/status-panel-legacy.go
  cmd/tmux-intray/status_panel_test.go
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/design/go-package-structure.md
  docs/status-command-guide.md
  go.mod
  go.sum
  internal/format/status.go
  internal/formatter/variables.go
  internal/status/status.go
  internal/status/status_test.go
  tests/commands/status-panel.bats
  tmux-intray.tmux
Due: shfmt-check, bats, gofmt-vet

fix(lint): remove trailing whitespace in comment
  internal/formatter/variables.go
Due: gofmt-vet

chore(deprecation): remove deprecated status-panel command (#313)
  README.md
  cmd/tmux-intray/status-panel-cmd.go
  cmd/tmux-intray/status-panel-core.go
  cmd/tmux-intray/status-panel-legacy.go
  cmd/tmux-intray/status_panel_test.go
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/design/go-package-structure.md
  docs/status-command-guide.md
  go.mod
  go.sum
  internal/format/status.go
  internal/formatter/variables.go
  internal/status/status.go
  internal/status/status_test.go
  tests/commands/status-panel.bats
  tmux-intray.tmux
Due: shfmt-check, bats, gofmt-vet

docs(status): add comprehensive status format guide and reference
  docs/status-format-guide.md
  docs/status-format-reference.md
Due: none

docs(status): update template syntax and add examples file
  docs/cli/CLI_REFERENCE.md
  docs/examples/status-format-examples.md
Due: none

chore(bd): bump to latest version
  .beads/config.yaml
  AGENTS.md
Due: none

docs(status): remove stale status-panel references
  docs/cli/CLI_REFERENCE.md
  docs/plans/status-format-extension.md
  docs/status-command-guide.md
  docs/status-format-guide.md
  docs/status-format-reference.md
Due: none

refactor(formatter): switch template delimiters to double braces for tmux
  cmd/tmux-intray/status.go
  cmd/tmux-intray/status_test.go
  internal/formatter/presets.go
  internal/formatter/presets_test.go
  internal/formatter/template.go
  internal/formatter/template_test.go
Due: gofmt-vet

docs(tabs): document tabs architecture as data views
  docs/design/tabs-architecture.md
  docs/plans/recents-all-and-jump-navigation-breakdown.md
Due: none

docs: document Recents/All tabs as data-view architecture (#316)
  .beads/config.yaml
  AGENTS.md
  PARALLEL_WORKSTREAMS.md
  PLAN_INDEX.md
  docs/cli/CLI_REFERENCE.md
  docs/design/tabs-architecture.md
  docs/examples/status-format-examples.md
  docs/plans/recents-all-and-jump-navigation-breakdown.md
  docs/plans/status-format-extension.md
  docs/status-format-guide.md
  docs/status-format-reference.md
Due: none

feat(formatter): fail on unknown template variables
  cmd/tmux-intray/status_test.go
  docs/status-command-guide.md
  internal/formatter/template.go
  internal/formatter/template_test.go
  internal/formatter/variables.go
  internal/formatter/variables_test.go
Due: gofmt-vet

feat(jump): add explicit window jump path in TUI
  internal/core/jump.go
  internal/core/jump_test.go
  internal/tui/controller/interaction_controller.go
  internal/tui/model/controller.go
  internal/tui/model/runtime_coordinator.go
  internal/tui/service/tmux_coordinator.go
  internal/tui/state/model_actions.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(settings): persist typed active tab contract
  internal/settings/manager.go
  internal/settings/manager_test.go
  internal/settings/persistence_test.go
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/settings/tab.go
  internal/settings/tab_test.go
  internal/settings/validation.go
  internal/tui/model/ui_state.go
  internal/tui/state/model_test.go
  internal/tui/state/settings_service.go
  internal/tui/state/ui_state.go
  internal/tui/state/ui_state_test.go
Due: gofmt-vet

fix(settings): persist active tab and unread-first state
  internal/settings/manager.go
  internal/settings/manager_test.go
  internal/settings/settings.go
  internal/settings/settings_test.go
  internal/settings/tab.go
  internal/settings/tab_test.go
  internal/settings/validation.go
  internal/tui/model/ui_state.go
  internal/tui/state/model.go
  internal/tui/state/model_notifications.go
  internal/tui/state/settings_service.go
  internal/tui/state/settings_service_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

feat(tui): apply tab-scoped active dataset filtering
  internal/tui/model/notification_service.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_notifications.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(tui): render Recents/All tabs and wire tab keymaps
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/state/model.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_render.go
  internal/tui/state/model_render_test.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state_test.go
Due: gofmt-vet

fix(tui): refresh notification filters on tab switch
  internal/tui/model/notification_service.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
  internal/tui/state/model_bench_test.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_notifications.go
  internal/tui/state/model_test.go
  internal/tui/state/model_tree_view.go
Due: gofmt-vet

test(docs): complete cross-lane Recents/All and jump gate
  docs/plans/recents-all-and-jump-navigation-breakdown.md
  internal/tui/state/model_integration_test.go
Due: gofmt-vet

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
