Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

shfmt-check:
  name: shfmt check
  entry: shfmt -d
  language: system
  pass_filenames: true

bats:
  name: Bats
  entry: bats
  language: system

gofmt-vet:
  name: gofmt+vet
  entry: scripts/go-pre-commit.sh
  language: system

chore(license): update copyright holder to Cristian Oliveira (#198)
  cmd/root.go
  cmd/tmux-intray/cleanup.go
  cmd/tmux-intray/clear.go
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/mark-read.go
  cmd/tmux-intray/settings.go
  cmd/tmux-intray/status-panel.go
  cmd/tmux-intray/status.go
  cmd/tmux-intray/tui.go
Due: gofmt-vet

test(tui): add unit tests for missing lines in model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(notification): add ToDomainUnsafe converter for trusted data paths
  internal/notification/converter.go
  internal/notification/converter_test.go
Due: gofmt-vet

refactor: Model.Update to reduce cyclomatic complexity (#194)
  internal/tui/state/model.go
  internal/tui/state/model_test.go
Due: gofmt-vet

feat(notification): add ToDomainUnsafe converter for trusted data paths (#199)
  internal/notification/converter.go
  internal/notification/converter_test.go
Due: gofmt-vet

fix(lint): address golangci-lint issues (errcheck, staticcheck)
  cmd/root.go
  cmd/tmux-intray/add.go
  cmd/tmux-intray/add_test.go
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/status.go
  internal/config/config.go
  internal/hooks/hooks.go
  internal/notification/notification.go
  internal/storage/lock.go
  internal/tui/service/tmux_coordinator.go
  internal/tui/state/model.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

fix(lint): address remaining errcheck in version.go
  cmd/tmux-intray/version.go
Due: gofmt-vet

refactor(cmd): migrate list.go to use domain.Notification throughout
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

refactor: fix all nestif violations by reducing nesting depth
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/list.go
  internal/hooks/hooks.go
  internal/tmux/client.go
  internal/tmux/client_test.go
  internal/tui/service/notification_service.go
  internal/tui/state/model.go
  internal/tui/state/settings_service.go
Due: gofmt-vet

refactor(cmd): replace groupNotifications with domain.GroupNotifications
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

refactor(tui): split model.go into modular files and add file size lint rule
  internal/tui/state/model.go
  internal/tui/state/model_commands.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_notifications.go
  internal/tui/state/model_render.go
  internal/tui/state/model_tree.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

fix(errcheck): address all errcheck violations in TUI and other packages
  cmd/root.go
  cmd/tmux-intray/add.go
  cmd/tmux-intray/clear_test.go
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/settings_test.go
  cmd/tmux-intray/status.go
  internal/config/config.go
  internal/config/config_test.go
  internal/core/core_test.go
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
  internal/notification/notification.go
  internal/settings/settings_test.go
  internal/storage/lock.go
  internal/tmux/mock_test.go
  internal/tmuxintray/tmuxintray_test.go
  internal/tui/service/tmux_coordinator.go
Due: gofmt-vet

refactor(cmd): replace orderUnreadFirst with domain.SortByReadStatus
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

refactor(cmd): replace orderUnreadFirst with domain.SortByReadStatus (#206)
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

refact: address lint nestif violations (#201)
  cmd/tmux-intray/dismiss.go
  cmd/tmux-intray/dismiss_test.go
  internal/hooks/hooks.go
  internal/tmux/client.go
  internal/tmux/client_test.go
  internal/tui/service/notification_service.go
  internal/tui/state/model.go
  internal/tui/state/settings_service.go
Due: gofmt-vet

refactor(cmd): replace groupNotifications with domain.GroupNotifications (#202)
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

fix(errcheck): address all errcheck violations (#205)
  cmd/root.go
  cmd/tmux-intray/add.go
  cmd/tmux-intray/clear_test.go
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/settings_test.go
  cmd/tmux-intray/status.go
  internal/config/config.go
  internal/config/config_test.go
  internal/core/core_test.go
  internal/hooks/hooks.go
  internal/hooks/hooks_test.go
  internal/notification/notification.go
  internal/settings/settings_test.go
  internal/storage/lock.go
  internal/tmux/mock_test.go
  internal/tmuxintray/tmuxintray_test.go
  internal/tui/service/tmux_coordinator.go
Due: gofmt-vet

update
  .beads/issues.jsonl
Due: none

refactor: split model.go into focused modules (#204)
  internal/tui/state/model.go
  internal/tui/state/model_commands.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_notifications.go
  internal/tui/state/model_render.go
  internal/tui/state/model_tree.go
  scripts/lint.sh
Due: shfmt-check, gofmt-vet

fix(plugin): harden tmux-intray debug command
  opencode/plugins/opencode-tmux-intray.js
Due: none

Migrate printNotification to accept domain.Notification
  cmd/tmux-intray/follow.go
Due: gofmt-vet

Update list_test.go to use domain types
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

fix(golangci): disable funlen linter due to exclude-files bug
  .golangci.yml
Due: none

fix(golangci): exclude test files from complexity checks
  .golangci.yml
Due: none

refactor(test): update list_test.go to use domain types (#211)
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

Refactor: Fix funlen violations by extracting helper functions
  cmd/tmux-intray/add.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/settings.go
  cmd/tmux-intray/status.go
  internal/core/jump.go
  internal/core/tmux.go
  internal/domain/sorting.go
  internal/tui/service/help_provider.go
  internal/tui/state/model_keys.go
Due: gofmt-vet

refactor(complexity): fix funlen violations in non-storage packages (#215)
  cmd/tmux-intray/add.go
  cmd/tmux-intray/follow.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/settings.go
  cmd/tmux-intray/status.go
  internal/core/jump.go
  internal/core/tmux.go
  internal/domain/sorting.go
  internal/tui/service/help_provider.go
  internal/tui/state/model_keys.go
Due: gofmt-vet

ci: enforce strict linting in CI with golangci-lint v2.8.0
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
Due: none

ci: enforce strict linting in CI (#216)
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
Due: none

fix(errcheck): check all fmt.Printf and fmt.Println return values in list command
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

fix(staticcheck): address ST1008 and SA1019 violations in test helpers and viewport API
  cmd/tmux-intray/add_test.go
  cmd/tmux-intray/dismiss_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

fix(tui): keep input modes from triggering bindings
  cmd/tmux-intray/add_test.go
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/status-panel.go
  internal/hooks/hooks.go
  internal/search/token.go
  internal/tui/state/model_commands.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

fix(staticcheck): address SA4006, QF1003, and QF1001 violations
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/status-panel.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

fix: address issue #197 (#220)
  cmd/tmux-intray/add_test.go
  cmd/tmux-intray/dismiss_test.go
  cmd/tmux-intray/jump.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  cmd/tmux-intray/status-panel.go
  internal/hooks/hooks.go
  internal/search/token.go
  internal/tui/state/model_commands.go
  internal/tui/state/model_keys.go
  internal/tui/state/model_test.go
  internal/tui/state/ui_state.go
Due: gofmt-vet

refactor(opencode-plugin): simplify plugin by removing config system and fixing arg parsing
  opencode/plugins/opencode-tmux-intray.js
  opencode/plugins/opencode-tmux-intray/README.md
  opencode/plugins/opencode-tmux-intray/config-loader.js
  opencode/plugins/opencode-tmux-intray/debug.mjs
  opencode/plugins/opencode-tmux-intray/example-config.json
  opencode/plugins/opencode-tmux-intray/test-debug.mjs
  opencode/plugins/opencode-tmux-intray/test-utils/convert-tests.js
  opencode/plugins/opencode-tmux-intray/test-utils/fix-warn-mocks.js
  opencode/plugins/opencode-tmux-intray/test-utils/generate-config.js
  opencode/plugins/opencode-tmux-intray/tests/integration.test.js
  opencode/plugins/opencode-tmux-intray/tests/test-config-loader.js
  opencode/plugins/opencode-tmux-intray/tests/test-integration.js
  opencode/plugins/opencode-tmux-intray/tests/test-plugin.js
  opencode/plugins/opencode-tmux-intray/tests/unit-context-capture.test.js
Due: none

Path conditions:
  shfmt-check: any of: \.(sh|bats|tmux)$, but not: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
  bats: any of: ^tests/.*\.bats$
  gofmt-vet: any of: \.go$
