Repository cristianoliveira/tmux-intray: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt-check, bats, gofmt-vet

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5120']
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.10.0
    hooks:
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bats)$
        exclude: ^tests/
        args: ["-e", "SC2034", "-e", "SC1091"]
  - repo: local
    hooks:
      - id: shfmt-check
        name: shfmt check
        entry: shfmt -d
        language: system
        files: \.(sh|bats|tmux)$
        exclude: ^(\.git|\.tmp|\.bv|\.local|tmp|\.gwt|\.direnv|\.beads)/
        pass_filenames: true
      - id: bats
        name: Bats
        entry: bats
        language: system
        files: ^tests/.*\.bats$
      - id: gofmt-vet
        name: gofmt+vet
        entry: scripts/go-pre-commit.sh
        language: system
        files: \.go$

fix(nix): add Nix installation instructions to README
  README.md
  flake.nix
Due: none

feat: add tmux-intray extension for pi-mono agent (#385)
  pi/agent/extensions/tmux-intray/index.ts
  pi/agent/extensions/tmux-intray/install.sh
Due: shfmt-check

fix(nix): add Nix installation instructions to README (#386)
  README.md
  flake.nix
Due: none

docs: remove deprecated installation option
  README.md
Due: none

docs: remove deprecated installation option (#387)
  README.md
Due: none

docs: restructure documentation and remove unused files
  README.md
  docs/philosophy.md
  docs/privacy.md
  tmux-intray.tmux
Due: shfmt-check

docs(status): rename status-command-guide to status-guide and consolidate docs
  README.md
  cmd/tmux-intray/status.go
  docs/cli/CLI_REFERENCE.md
  docs/examples/status-format-examples.md
  docs/status-command-guide.md
  docs/status-format-guide.md
  docs/status-format-reference.md
  docs/status-guide.md
Due: gofmt-vet

docs: consolidate status documentation and fix broken references
  AGENTS.md
  DEVELOPMENT.md
  README.md
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/design/go-package-structure.md
  docs/design/local-hooks.md
  docs/hooks.md
  docs/philosophy.md
  docs/plans/status-format-extension.md
  docs/tmux-integration.md
Due: none

docs: restructure documentation and remove unused files (#388)
  AGENTS.md
  DEVELOPMENT.md
  README.md
  cmd/tmux-intray/status.go
  docs/cli/CLI_REFERENCE.md
  docs/configuration.md
  docs/design/go-package-structure.md
  docs/design/local-hooks.md
  docs/examples/status-format-examples.md
  docs/hooks.md
  docs/philosophy.md
  docs/plans/status-format-extension.md
  docs/privacy.md
  docs/status-command-guide.md
  docs/status-format-guide.md
  docs/status-format-reference.md
  docs/status-guide.md
  docs/tmux-integration.md
  tmux-intray.tmux
Due: shfmt-check, gofmt-vet

docs(examples): fix binary paths and add examples README
  examples/README.md
  examples/basic-usage.sh
  examples/ci-pipeline.sh
  examples/hooks/README.md
  examples/process-notifications.sh
Due: shfmt-check

fix(examples): fix tmux has-session command usage
  examples/basic-usage.sh
  examples/ci-pipeline.sh
  examples/process-notifications.sh
Due: shfmt-check

refactor(examples): convert advanced-filtering from bash script to markdown
  examples/README.md
  examples/advanced-filtering.md
  examples/advanced-filtering.sh
Due: shfmt-check

docs(examples): fix binary paths and add examples README (#389)
  examples/README.md
  examples/advanced-filtering.md
  examples/advanced-filtering.sh
  examples/basic-usage.sh
  examples/ci-pipeline.sh
  examples/hooks/README.md
  examples/process-notifications.sh
Due: shfmt-check

feat(hooks): add hook selector parser
  internal/hooks/selector.go
  internal/hooks/selector_test.go
Due: gofmt-vet

WIP
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

fix(cli): pass filters to tab views in list command
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  internal/colors/colors.go
Due: gofmt-vet

refactor: unify session grouping logic between CLI and TUI
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_tabs_test.go
  internal/domain/session_grouping.go
  internal/domain/session_grouping_test.go
  internal/settings/tab.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/service/notification_service_per_session_test.go
  internal/tui/state/model_keys_core.go
Due: gofmt-vet

feat: add --json flag to list command
  cmd/tmux-intray/list.go
Due: gofmt-vet

feat(cli): add session name resolution to list tabs
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

fix(tui): Sessions tab now enables grouped view mode
  internal/tui/state/model_key_handlers.go
Due: gofmt-vet

feat: search mode notifications
  internal/core/tmux_navigation.go
  internal/tui/controller/interaction_controller.go
  internal/tui/controller/interaction_controller_test.go
  internal/tui/model/controller.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/service/notification_service_sessions_test.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_notifications.go
Due: gofmt-vet

feat(hooks): add modification support with exit code semantics
  cmd/root.go
  internal/hooks/hooks.go
  internal/hooks/hooks_modification_test.go
Due: gofmt-vet

fix(ci): stabilize session ordering and apply gofmt
  cmd/tmux-intray/list.go
  internal/domain/session_grouping.go
  internal/domain/session_grouping_test.go
  internal/tui/service/notification_service_sessions_test.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor(cli): split list command by tab/recents views
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_recents.go
  cmd/tmux-intray/list_tabs.go
Due: gofmt-vet

feat/search mode help (#392)
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_recents.go
  cmd/tmux-intray/list_tabs.go
  cmd/tmux-intray/list_tabs_test.go
  cmd/tmux-intray/list_test.go
  internal/colors/colors.go
  internal/core/tmux_navigation.go
  internal/domain/session_grouping.go
  internal/domain/session_grouping_test.go
  internal/settings/tab.go
  internal/tui/controller/interaction_controller.go
  internal/tui/controller/interaction_controller_test.go
  internal/tui/model/controller.go
  internal/tui/render/render.go
  internal/tui/render/render_test.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/tui/service/notification_service_per_session_test.go
  internal/tui/service/notification_service_sessions_test.go
  internal/tui/state/model_key_handlers.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_notifications.go
  internal/tui/state/model_test.go
Due: gofmt-vet

refactor(cli): reduce add/list command complexity
  cmd/tmux-intray/add.go
  cmd/tmux-intray/add_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
Due: gofmt-vet

feat(tui): support Ctrl+s to switch to sessions tab
  internal/tui/render/render.go
  internal/tui/state/model_coverage_regression_test.go
  internal/tui/state/model_keys_core.go
Due: gofmt-vet

refactor(app): simplify recents per-session orchestration
  internal/app/view_orchestrator.go
  internal/app/view_orchestrator_test.go
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_test.go
Due: gofmt-vet

feat(views): add timeline and session history orchestrations
  internal/tui/service/notification_service.go
  internal/tui/service/notification_service_per_session.go
  internal/views/orchestrator.go
  internal/views/orchestrator_test.go
Due: gofmt-vet

feat(app): add shared view orchestrator for recents-per-session
  internal/app/view_orchestrator.go
  internal/app/view_orchestrator_test.go
Due: gofmt-vet

feat(views): add active notification timeline view
  internal/tui/service/notification_service.go
  internal/views/orchestrator.go
  internal/views/orchestrator_test.go
Due: gofmt-vet

refactor(views): extract view orchestration with use-case names
  internal/app/view_orchestrator.go
  internal/tui/service/notification_service.go
  internal/views/orchestrator.go
  internal/views/orchestrator_test.go
  scripts/check-import-deny-rules.sh
Due: shfmt-check, gofmt-vet

feat(tui): add sessions tab and wire shared sessions view
  internal/settings/tab.go
  internal/settings/tab_test.go
  internal/tui/render/render.go
  internal/tui/service/notification_service.go
  internal/tui/state/model_coverage_regression_test.go
  internal/tui/state/model_keys_core.go
  internal/tui/state/model_tree_view.go
Due: gofmt-vet

refactor(hooks): split hook subsystem into focused modules
  internal/hooks/api.go
  internal/hooks/execution.go
  internal/hooks/hooks.go
  internal/hooks/runtime_config.go
  internal/hooks/types.go
Due: gofmt-vet

refactor(hooks): split hooks.go to satisfy file length lint
  internal/hooks/execution.go
  internal/hooks/helpers.go
  internal/hooks/hooks.go
Due: gofmt-vet

refactor(cli): reduce add/list command complexity (#393)
  cmd/tmux-intray/add.go
  cmd/tmux-intray/add_test.go
  cmd/tmux-intray/list.go
  cmd/tmux-intray/list_test.go
  internal/hooks/execution.go
  internal/hooks/helpers.go
  internal/hooks/hooks.go
Due: gofmt-vet

refactor(domain): simplify notification filter matching
  internal/domain/filters_test.go
  internal/domain/notification.go
Due: gofmt-vet

refactor: address PR feedback on generic matcher and hook parsing
  internal/domain/notification.go
  internal/hooks/execution.go
Due: gofmt-vet
